In [92]:
#!pip install surprise
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from surprise import Reader, Dataset, SVD
from surprise.model_selection import cross_validate
import pickle
#sns.set_style("darkgrid")

## Callable functions

In [93]:
def all_movie_id_rows(movie_id):
    return data_rating[data_rating['movie_id'] == movie_id]

def all_custumers_id_rows(customer_id):
    return data_rating[data_rating['customer_id'] == customer_id]

def all_customers_id_plus_movie_title_rows(customer_id):
    return data_rating_plus_movie_title[data_rating_plus_movie_title['customer_id'] == customer_id_use]

def all_movies_get_average_rating():
    movie_ratings_stats = data_rating.groupby('movie_id').agg({'rating': ['sum', 'count']}).reset_index()
    movie_ratings_stats['avg_rating'] =  movie_ratings_stats['rating']['sum'] / movie_ratings_stats['rating']['count']
    return movie_ratings_stats

def all_customers_get_average_rating():
    customers_ratings_stats = data_rating.groupby('customer_id').agg({'rating': ['sum', 'count']}).reset_index()
    customers_ratings_stats['avg_rating'] =  customers_ratings_stats['rating']['sum'] / customers_ratings_stats['rating']['count']
    return customers_ratings_stats

def all_movies_get_rated_count():
    return data_rating.groupby('movie_id').agg({'movie_id': 'count'}).reset_index()

def all_customers_get_movie_rated_count():
    return data_rating.groupby('customer_id').agg({'movie_id': 'count'}).reset_index()

def get_avg_rating_less_than(max_rating):
    print(all_customers_average_ratings[all_customers_average_ratings['avg_rating'] < max_rating])


def get_movie_avg_rating(movie_id):
    output = all_movies_average_rating[all_movies_average_rating['movie_id'] == movie_id]
    #print(output)
    return output['avg_rating']

def get_users_avg_rating(customer_id):
    output = all_customers_average_ratings[all_customers_average_ratings['customer_id'] == customer_id]
    #print(output)
    return output['avg_rating']

def get_movies_customer_rated_higher_than(customer_id, min_rating=0):
    temp = data_rating_plus_movie_title.copy()
    df_customer_liked = temp[(temp['customer_id'] == customer_id) & (temp['rating'] >= min_rating)].set_index('movie_id')
    print(df_customer_liked[['movie_title', 'rating']])
    print('average rating', get_users_avg_rating(customer_id))

## WORK IN PROGRESS
# def get_all_customer_rated_movie_higher_than(movie_id, min_rating):
#     temp = data_rating_plus_movie_title.copy()
#     df_movie_customers = temp[temp['movie_id'] == movie_id] & (temp['rating'] >= min_rating)
#     print(df_movie_customers['movie_title', 'customer_id', 'rating'])
#     print('movie average rating', get_movie_avg_rating(movie_id))

## Get the data

In [94]:
## if use_pickle = True then we don't have to create a new dataframe because it's already been done
## how ever if you add another csv file to df_all then you will have to set use_pickle = False to get the new data
def create_dataframe(use_pickle=True):
    if(use_pickle == True):
        in_pickle = open("pickle/movies_customers_ratings.pickle", "rb")
        data = pd.DataFrame(pickle.load(in_pickle), columns=['movie_id', 'customer_id', 'rating', 'index']).drop(['index'], axis=1)
    else:
        index = 1
        last_movie_id = "1"
        new_data = []
        for customer_id in df_all["customer_id"]:
            # if we find : that means this is a movie_id and not customer_id
            if(customer_id.find(":") > 0):
                movie_id = customer_id.replace(":", "")
                last_movie_id = movie_id
            else:
                # we have this row index so use it to get rating
                rating = df_all["rating"][index-1]
                new_data.append([last_movie_id, customer_id, rating, index])
            index += 1
        #output to pickle file
        movies_customers_ratings = open("pickle/movies_customers_ratings.pickle","wb")
        pickle.dump(new_data, movies_customers_ratings)
        movies_customers_ratings.close()
        data = pd.DataFrame(new_data, columns=['movie_id', 'customer_id', 'rating', 'index']).drop(['index'], axis=1)

    # change columns to numerical
    data['movie_id'] = data['movie_id'].astype(int)
    data['customer_id'] = data['customer_id'].astype(int)
    data["rating"] = data["rating"].astype(float)
    return data

in these txt files the movie_id's have been placed amongst the customer_id's, which means that we have to split that column into two, we do this by taking all ratings that are equal to NaN 
( meaning that we are now refering to a movie and not a customer ) and from there we split it into two columns.

In [95]:
## import all combined_data files to one large pandas dataframe
##> returns index, customer_id (which is both movie and customer), rating (NaN = customer_id is a movie, Not NaN = customers rating)
df_all = pd.read_csv('./data/combined_data_1.txt', header = None, names = ['customer_id', 'rating'], usecols = [0,1])
#df_all = df_all.append(pd.read_csv('./data/combined_data_2.txt', header = None, names = ['customer_id', 'rating'], usecols = [0,1]))
#df_all = df_all.append(pd.read_csv('./data/combined_data_3.txt', header = None, names = ['customer_id', 'rating'], usecols = [0,1]))
#df_all = df_all.append(pd.read_csv('./data/combined_data_4.txt', header = None, names = ['customer_id', 'rating'], usecols = [0,1]))
df_all.index = np.arange(0,len(df_all))
df_all['rating'] = df_all['rating'].astype(float)

## ------------------------------------------------------------------------------------- ##

# dataframe containing all informations about the movies
#> returns movie_id, movie_year, movie_title
data_movies = pd.read_csv('./data/movie_titles.csv', header = None, names = ['movie_id', 'movie_year', 'movie_title'], usecols = [0,1,2], encoding="latin1")
data_movies.set_index('movie_id', inplace = True)

## ------------------------------------------------------------------------------------- ##

# dataframe containing all informations about the movie ratings by customer
#> returns index, movie_id, customer_id, rating
data_rating = create_dataframe(use_pickle=True)

## ------------------------------------------------------------------------------------- ##

# combine customer ratings to movie titles
#> returns index, movie_id, customer_id, rating, movie_year, movie_title
data_rating_plus_movie_title = data_rating.merge(data_movies, on="movie_id", how="inner")
data_rating_plus_movie_title

          movie_id  customer_id  rating  movie_year      movie_title
0                1      1488844     3.0      2003.0  Dinosaur Planet
1                1       822109     5.0      2003.0  Dinosaur Planet
2                1       885013     4.0      2003.0  Dinosaur Planet
3                1        30878     4.0      2003.0  Dinosaur Planet
4                1       823519     3.0      2003.0  Dinosaur Planet
...            ...          ...     ...         ...              ...
24053759      4499      2591364     2.0      2002.0       In My Skin
24053760      4499      1791000     2.0      2002.0       In My Skin
24053761      4499       512536     5.0      2002.0       In My Skin
24053762      4499       988963     3.0      2002.0       In My Skin
24053763      4499      1704416     3.0      2002.0       In My Skin

[24053764 rows x 5 columns]

## Working with the data

### Details about all customers

In [96]:
# get the average movie rating for all customers
# used to determine if this user typically gives bad or good reviews
# and then we can see if he really hates or loves a movie
all_customers_average_ratings = all_customers_get_average_rating()
print(all_customers_average_ratings)

       customer_id rating       avg_rating
                      sum count
0                6  510.0   153   3.333333
1                7  793.0   195   4.066667
2                8   84.0    21   4.000000
3               10  164.0    49   3.346939
4               25   14.0     4   3.500000
...            ...    ...   ...        ...
470753     2649404   49.0    12   4.083333
470754     2649409   40.0    10   4.000000
470755     2649421   15.0     3   5.000000
470756     2649426  301.0    74   4.067568
470757     2649429  258.0    62   4.161290

[470758 rows x 4 columns]

In [97]:
get_avg_rating_less_than(5)

       customer_id rating       avg_rating
                      sum count
0                6  510.0   153   3.333333
1                7  793.0   195   4.066667
2                8   84.0    21   4.000000
3               10  164.0    49   3.346939
4               25   14.0     4   3.500000
...            ...    ...   ...        ...
470752     2649401  118.0    30   3.933333
470753     2649404   49.0    12   4.083333
470754     2649409   40.0    10   4.000000
470756     2649426  301.0    74   4.067568
470757     2649429  258.0    62   4.161290

[459896 rows x 4 columns]

In [98]:
get_avg_rating_less_than(4)

       customer_id rating       avg_rating
                      sum count
0                6  510.0   153   3.333333
3               10  164.0    49   3.346939
4               25   14.0     4   3.500000
5               33   38.0    11   3.454545
6               42  142.0    36   3.944444
...            ...    ...   ...        ...
470747     2649376  133.0    34   3.911765
470748     2649378  233.0    72   3.236111
470750     2649384   23.0     7   3.285714
470751     2649388  257.0    77   3.337662
470752     2649401  118.0    30   3.933333

[331845 rows x 4 columns]

In [99]:
count_movies_rated_by_customer = all_customers_get_movie_rated_count()
count_movies_rated_by_customer

        customer_id  movie_id
0                 6       153
1                 7       195
2                 8        21
3                10        49
4                25         4
...             ...       ...
470753      2649404        12
470754      2649409        10
470755      2649421         3
470756      2649426        74
470757      2649429        62

[470758 rows x 2 columns]

In [100]:
#all_movies_average_rating = all_movies_get_average_rating()
#get_all_customer_rated_movie_higher_than(1, 4)

In [101]:
print("random user id used while in development\n", np.unique(data_rating['customer_id'])[14800:15000])

random user id used while in development
 [83639 83643 83646 83647 83648 83650 83676 83678 83679 83682 83687 83688
 83696 83701 83712 83720 83721 83730 83735 83740 83748 83754 83755 83756
 83776 83781 83794 83795 83803 83805 83808 83814 83819 83825 83839 83855
 83857 83858 83869 83874 83879 83881 83889 83893 83895 83896 83902 83909
 83911 83914 83917 83922 83923 83926 83940 83942 83945 83950 83961 83963
 83978 83992 84021 84022 84030 84040 84046 84048 84051 84065 84068 84071
 84088 84092 84093 84094 84095 84100 84102 84104 84106 84111 84123 84127
 84128 84133 84146 84150 84152 84164 84168 84171 84189 84192 84208 84213
 84218 84223 84234 84237 84240 84248 84263 84266 84270 84271 84274 84285
 84288 84291 84303 84306 84309 84315 84316 84328 84338 84351 84352 84357
 84369 84381 84386 84387 84389 84392 84398 84400 84410 84411 84412 84413
 84414 84421 84423 84433 84437 84447 84454 84456 84457 84461 84462 84477
 84482 84498 84505 84508 84509 84513 84514 84527 84542 84555 84556 84557
 84559 84566 84568 84569 84584 84586 84589 84601 84605 84613 84619 84627
 84645 84651 84658 84665 84670 84691 84695 84705 84714 84721 84728 84737
 84747 84748 84749 84762 84764 84772 84776 84778 84779 84780 84804 84811
 84814 84836 84843 84850 84852 84858 84873 84882]

### Details about a specific customer

In [102]:
# ids I like -> 28812, 56514, 56520, 1488844
customer_id_use = 84100

In [103]:
#all_custumers_id_rows(customer_id=customer_id_use)
## same as line above but including movie_year and movie_title
all_customers_id_plus_movie_title_rows(customer_id=customer_id_use)

          movie_id  customer_id  rating  movie_year             movie_title
141847          30        84100     5.0      2003.0  Something's Gotta Give
757653         191        84100     4.0      2003.0        X2: X-Men United
1408832        299        84100     4.0      2001.0   Bridget Jones's Diary
1936216        357        84100     5.0      2003.0   House of Sand and Fog
2417368        457        84100     4.0      2004.0       Kill Bill: Vol. 2
3936782        758        84100     4.0      2004.0              Mean Girls
5510889       1110        84100     4.0      2003.0        Secondhand Lions
6259259       1220        84100     4.0      2004.0             Man on Fire
6680950       1307        84100     4.0      2003.0                S.W.A.T.
7777139       1561        84100     3.0      2003.0        American Wedding
10045988      1962        84100     4.0      2004.0          50 First Dates
10741601      2112        84100     3.0      2003.0                Identity
12466301      2391        84100     3.0      2004.0        Along Came Polly
12929173      2457        84100     3.0      2004.0      A Cinderella Story
13516734      2580        84100     4.0      2003.0           Freaky Friday
17237977      3320        84100     4.0      2002.0             About a Boy
18997762      3624        84100     5.0      2003.0        The Last Samurai
19680944      3756        84100     4.0      2002.0           About Schmidt
20225369      3860        84100     4.0      2003.0          Bruce Almighty
20814844      3925        84100     4.0      2003.0    The Matrix: Reloaded
21017062      3938        84100     4.0      2004.0                 Shrek 2
23881856      4472        84100     4.0      2003.0           Love Actually

In [104]:
get_users_avg_rating(customer_id=customer_id_use)

14877    3.954545
Name: avg_rating, dtype: float64

In [105]:
get_movies_customer_rated_higher_than(customer_id_use, 4)

                     movie_title  rating
movie_id
30        Something's Gotta Give     5.0
191             X2: X-Men United     4.0
299        Bridget Jones's Diary     4.0
357        House of Sand and Fog     5.0
457            Kill Bill: Vol. 2     4.0
758                   Mean Girls     4.0
1110            Secondhand Lions     4.0
1220                 Man on Fire     4.0
1307                    S.W.A.T.     4.0
1962              50 First Dates     4.0
2580               Freaky Friday     4.0
3320                 About a Boy     4.0
3624            The Last Samurai     5.0
3756               About Schmidt     4.0
3860              Bruce Almighty     4.0
3925        The Matrix: Reloaded     4.0
3938                     Shrek 2     4.0
4472               Love Actually     4.0
average rating 14877    3.954545
Name: avg_rating, dtype: float64

# Recommendations with collaborative filtering

In [106]:
df_movie_summary = data_rating.groupby('movie_id')['rating'].agg(['count', 'mean'])
df_movie_summary.index = df_movie_summary.index.map(int)
movie_benchmark = round(df_movie_summary['count'].quantile(0.7),0)
drop_movie_list = df_movie_summary[df_movie_summary['count'] < movie_benchmark].index

In [107]:
chosen_customer_pred = data_movies.copy()
chosen_customer_pred = chosen_customer_pred.reset_index()
chosen_customer_pred = chosen_customer_pred[~chosen_customer_pred['movie_id'].isin(drop_movie_list)]

In [108]:
reader = Reader()
svd = SVD()

data_new = Dataset.load_from_df(data_rating[['customer_id', 'movie_id', 'rating']], reader)
trainset = data_new.build_full_trainset()
svd.fit(trainset)

KeyboardInterrupt:

In [ ]:
chosen_customer_pred['estimated_score'] = chosen_customer_pred['movie_id'].apply(lambda x: svd.predict(customer_id_use, x).est)
chosen_customer_pred = chosen_customer_pred.set_index('movie_id')
chosen_customer_pred = chosen_customer_pred.sort_values('estimated_score', ascending=False)

In [ ]:

print(chosen_customer_pred[['movie_title', 'rating', 'estimated_score']].set_index('movie_title'))

In [ ]:
#for the new user problem
## find highest rated movie / tv shows that have been watched the most -> how likely is new user to click on it ?