In [ ]:
## INSTALL IF YOU DON'T HAVE SURPRISE ON YOUR MACHINE AND WOULD LIKE TO RUN THE CODE
#!pip install surprise
#!pip install import-ipynb

In [9]:
import os
import csv
import pandas as pd
import numpy as np
import heapq
import matplotlib.pyplot as plt
import seaborn as sns
from surprise import Reader, Dataset, SVD
from surprise.model_selection import cross_validate
import pickle
from random import *
from surprise import accuracy
from collections import defaultdict
from surprise import KNNBasic
from collections import defaultdict
from operator import itemgetter
import NetflixLoadData as NetflixLoadData

# Explanation

I choose the netflix price dataset ( https://www.kaggle.com/netflix-inc/netflix-prize-data  ). 
This data spans the timeframe from 1896 to 2005 and was used in the million dollar competition by Netflix.

Which gave me a huge headache in the beginning of the project since the structure of the 
ratings csv had been implemented in a weird way.

The way I fixed this to create a pandas dataframe can be seen in NetflixLoadData.py 
function create_dataframe(), I began by saving last seen movie_id which are the rows with
":" in them, then I removed those lines and only focused on lines with multiple columns (with "," in them)
until I saw the next line with ":" which I used to replace as current movie_id.
With this I was able to have movie_id in each row it correspended to.

I also removed the date of review since it could influence the prediction algorithmn.

---------------
old structure:
---------------
: = movie_id
_, _, _ = customer_id, rating, date_of_rating

---------------
new structure:
---------------
_, _, _ = movie_id, customer_id, rating



From ===>

1: 
1488844,3,2005-09-06
822109,5,2005-05-13
885013,4,2005-10-19
30878,4,2005-12-26
823519,3,2004-05-03
...
2:
2059652,4,2005-09-05
1666394,3,2005-04-19
1759415,4,2005-04-22
1959936,5,2005-11-21
998862,4,2004-11-13
...

To ===>

1,1488844,3.0
1,822109,5.0
1,885013,4.0
1,30878,4.0
1,823519,3.0
...
2, 2059652,4
2, 1666394,3
2, 1759415,4
2, 1959936,5
2, 998862,4

I chose this project to learn more about recommendations and how they worked.
My main two hypothesis are would the leave one out algorithm make for better predictions or worse than using 
an algorithm with full data, and my second hypothesis is that outliers will affect average_rating in a big way.

I chose only 5000 users and their accompaning data (movies/tv shows ratings) but the entire dataset is over 2gb of csv files.
The reason for this is because this project is really computer heavy and finding recommendation could take 
from 10 minutes to an hour+ based on which algorithm I was using.

The original user count was 480189, which is alot of data and by only choosing five thousand users there are 13271 movies/tv shows
that don't have ratings (these five thousand users rated 4499 movies/tv shows out of 17770).

This made the program run much smoother and faster but to get accurate recommendations, we would have to include 
the entire dataset in the future.

# Notebook

In [10]:
use_pickle_file = True
max_n = 2500000 #how many rows we want from data_ratings and data_rating_plus_movie_title
reader = Reader(line_format='user item rating', rating_scale=(1, 5))

## Get data

In [12]:
data_movies, data_rating, data_rating_plus_movie_title, _ = NetflixLoadData.get_data_files(use_small_dataset=True)

In [13]:
data_rating

        movie_id  customer_id  rating
0              1      1488844     3.0
1              1       822109     5.0
2              1       885013     4.0
3              1        30878     4.0
4              1       823519     3.0
...          ...          ...     ...
813413      4499       101554     4.0
813414      4499      1334851     3.0
813415      4499      1852040     1.0
813416      4499       185372     1.0
813417      4499      2562830     4.0

[813418 rows x 3 columns]

## Helper functions

In [14]:
def save_to_pickle(name, df):
    path_name = "pickle/"+name+".pickle"
    pickle_file = open(path_name,"wb")
    pickle.dump(df, pickle_file)
    pickle_file.close()

def load_pickle(name):
    path_name = "pickle/"+name+".pickle"
    return_input = open(path_name, "rb")
    return pickle.load(return_input)

## Finding information about the data before doing anything major

In [15]:
import MovieCustomerInformation as information
max_rating = 4
min_rating = 4

### Details about all customers/movies

#### finding out size of the data being used

In [128]:
print("number of customers")
number_of_customers =  len(information.all_average_ratings(df=data_rating, type='customer_id')['customer_id'])
print(number_of_customers)

print(len(data_rating["customer_id"].unique()))

number of customers
4829
4829

We have to make sure both numbers from above (number of users being used) match otherwise something went wrong

In [127]:
number_of_movies = len(information.all_average_ratings(df=data_rating, type='movie_id')['movie_id'])
print("Number of movies rated", number_of_movies)
print("Total movies in dataset", len(data_movies["movie_id"].unique()))

Number of movies rated 4499
Total movies in dataset 17770

This makes sense, since we chose a very small dataset of 5 thousand users in the beginning because the program would 
otherwise take a very long time to run, so the 4829 users have rated 4499 movies out of the total 17770 movies

#### average rating

In [122]:
customer_average_rating = information.all_average_ratings(df=data_rating, type='customer_id')["avg_rating"].mean()
print("All customers average ratings", customer_average_rating)

All customers average ratings 3.5321404327111

In [123]:
movie_average_rating = information.all_average_ratings(df=data_rating, type='movie_id')['avg_rating'].mean()
print("All movies average ratings", movie_average_rating)

All movies average ratings 2.7833812231234294

possible reason for this bad score is shown in next cell below

In [130]:
# get the average movie rating for all customers
# used to determine if this user typically gives bad or good reviews
# and then we can see if he really hates or loves a movie
all_customers_average_ratings =  information.all_average_ratings(df=data_rating, type='customer_id')
## sort by how many ratings person has given (rating count)
print("Average rating for all customers (sorted by count)")
print(all_customers_average_ratings.sort_values(by=[('rating', 'count')], ascending=False))

Average rating for all customers (sorted by count)
     customer_id   rating       avg_rating
                      sum count
549       305344   8464.0  4467   1.894784
727       387418   8079.0  4422   1.827001
4425     2439493   4973.0  4195   1.185459
3049     1664010  17104.0  4019   4.255785
3861     2118461  15390.0  3769   4.083311
...          ...      ...   ...        ...
870       470861      5.0     1   5.000000
1731      931793      5.0     1   5.000000
3953     2176039      3.0     1   3.000000
368       196497      5.0     1   5.000000
3652     1989766      4.0     1   4.000000

[4829 rows x 4 columns]

The users that have rated the most (count) have rated ~99% of all the movies we selected 
(our movies rated is 4499 out of total 17770) which means that the top users are probaly the 
reason for why there exists many movies with bad score since they are the once that rated it with low score.

for example user 305344 has rated 4467 out of the total 4499 movies which
means he has not rated 32 items (movies/tv shows) and since his average_rating is low, he has rated almost all of the data with low score and
dras down the average.

the top 3 customer raters (count) also have a average_rating of 1.63, which means they could be the outliers for 
why movie average_rating is 2.7833812231234294 (seen couple lines above) since they have rated >99% of the movies 
and have a bad average_rating.

This supports my hypothesis that outliers can have a huge impact on average rating but I could not have guessed
that the top three users would have an average rating of 1.63, though it does make sense since people favour giving
ratings if they dislike something (out of anger perhaps) but since these are the top raters they must watch alot of 
movies/tv shows which they dislike since they favour giving that rating.

Edit: 18 November 2021 [20:36]
(items in the sentence below is referring to movies or tv shows)

If I had more time for this, I would implement an algorithm which I don't remember the name of, which
takes average user rating for items into account before recommending a specific item to other users.
If it knows that a specific user is not like other users in the system because that user gives everything a 
bad rating (as seen in top 3 users) then it takes that into account for how trust worthy this persons rating is 
on a specific item which is to be recommended to other users.

In [129]:
all_movies_average_rating = information.all_average_ratings(df=data_rating, type='movie_id')
## sort by how many ratings movie has (rating count)
print("Average rating for all movies (sorted by count)")
print(all_movies_average_rating.sort_values(by=[('rating', 'count')], ascending=False))

Average rating for all movies (sorted by count)
     movie_id   rating       avg_rating
                   sum count
1904     1905  11738.0  3030   3.873927
570       571  12222.0  3021   4.045680
2451     2452  11777.0  2736   4.304459
4305     4306  10877.0  2642   4.116957
2861     2862  11235.0  2638   4.258908
...       ...      ...   ...        ...
1140     1141      7.0     4   1.750000
4293     4294     15.0     4   3.750000
886       887     14.0     4   3.500000
2536     2537      3.0     2   1.500000
4372     4373      1.0     1   1.000000

[4499 rows x 4 columns]

In [132]:
print("As seen as seen here below customer with customer_id = 305344 (which is the top rater) is in 4 out of 5 of the lowest rated movies,")
print("this shows that he could be responsible for many of the items having a low score in the data.")
print(data_rating[data_rating["movie_id"] == 4373])
print(data_rating[data_rating["movie_id"] == 2537])
print(data_rating[data_rating["movie_id"] == 887])
print(data_rating[data_rating["movie_id"] == 4294])
print(data_rating[data_rating["movie_id"] == 1141])

As seen as seen here below customer with customer_id = 305344 (which is the top rater) is in 4 out of 5 of the lowest rated movies,
this shows that he could be responsible for many of the items having a low score in the data.
        movie_id  customer_id  rating
789920      4373       305344     1.0
        movie_id  customer_id  rating
457875      2537       199769     2.0
457876      2537       305344     1.0
        movie_id  customer_id  rating
166319       887      1314869     3.0
166320       887      1899913     3.0
166321       887      2086129     3.0
166322       887       908626     5.0
        movie_id  customer_id  rating
769926      4294      2536523     5.0
769927      4294       721369     4.0
769928      4294       984703     5.0
769929      4294       305344     1.0
        movie_id  customer_id  rating
206926      1141      1471238     3.0
206927      1141       305344     1.0
206928      1141      2056022     2.0
206929      1141       387418     1.0

#### rating (low/high)

In [133]:
customer_ratings_low = information.get_avg_rating_less_than(df=all_customers_average_ratings , max_rating=max_rating)
print("Showing customers with scores lower than ", max_rating)
customer_ratings_low

Showing customers with scores lower than  4

     customer_id  rating       avg_rating
                     sum count
2            967    87.0    24   3.625000
3           1333  2007.0   750   2.676000
4           2442   404.0   118   3.423729
5           3321  2718.0  1062   2.559322
7           3718   529.0   175   3.022857
...          ...     ...   ...        ...
4824     2646591   163.0    51   3.196078
4825     2647871   814.0   248   3.282258
4826     2648122   306.0    85   3.600000
4827     2648650    83.0    27   3.074074
4828     2648861   181.0    53   3.415094

[4039 rows x 4 columns]

In [135]:
customer_ratings_high = information.get_avg_rating_higher_than(df=all_customers_average_ratings, min_rating=min_rating)
print("Showing customers with scores higher (or equal) to ", min_rating)
customer_ratings_high

Showing customers with scores higher (or equal) to  4

     customer_id  rating       avg_rating
                     sum count
0            685   124.0    30   4.133333
1            915    30.0     7   4.285714
6           3417   165.0    41   4.024390
12          5225   108.0    26   4.153846
18          8117  1062.0   260   4.084615
...          ...     ...   ...        ...
4800     2632269   103.0    25   4.120000
4804     2634414    33.0     8   4.125000
4806     2635437   499.0   115   4.339130
4807     2635895   314.0    75   4.186667
4814     2640085   158.0    34   4.647059

[721 rows x 4 columns]

In [23]:
print("number of rows in low", len(customer_ratings_low))
print("number of rows in high", len(customer_ratings_high))

number of rows in low 4039
number of rows in high 721

In [28]:
customers_low_high_ratings_percentage = ((len(customer_ratings_high)-len(customer_ratings_low)) / len(customer_ratings_low))*100
if(customers_low_high_ratings_percentage <= 0):
    print("high rating dataframe is " , round(customers_low_high_ratings_percentage, 2),'% smaller than low rating dataframe')

if(customers_low_high_ratings_percentage > 0):
    print("high rating dataframe is " , round(customers_low_high_ratings_percentage, 2),'% bigger than low rating dataframe')

high rating dataframe is  -82.15 % smaller than low rating dataframe

#### average rating (low/high)

In [136]:
print("Movies with avg_rating score less than ", max_rating)
information.get_avg_rating_less_than(df=all_movies_average_rating, max_rating=max_rating)

Movies with avg_rating score less than  4

     movie_id  rating       avg_rating
                  sum count
0           1  2051.0   547   3.749543
1           2   516.0   145   3.558621
2           3  7326.0  2012   3.641153
3           4   389.0   142   2.739437
4           5  4468.0  1140   3.919298
...       ...     ...   ...        ...
4494     4495   162.0    60   2.700000
4495     4496  2676.0   713   3.753156
4496     4497   220.0    84   2.619048
4497     4498    88.0    36   2.444444
4498     4499   230.0    83   2.771084

[4457 rows x 4 columns]

In [137]:
print("Movies with avg_rating score higher (or equal) to ", min_rating)
information.get_avg_rating_higher_than(df=all_movies_average_rating, min_rating=min_rating)

Movies with avg_rating score higher (or equal) to  4

     movie_id   rating       avg_rating
                   sum count
12         13     38.0     8   4.750000
222       223   3594.0   875   4.107429
240       241   5359.0  1317   4.069096
570       571  12222.0  3021   4.045680
752       753     33.0     8   4.125000
871       872   5000.0  1206   4.145937
885       886   7719.0  1918   4.024505
1019     1020   3501.0   842   4.157957
1255     1256    925.0   227   4.074890
1475     1476   1936.0   447   4.331096
1624     1625   5149.0  1258   4.093005
1914     1915    456.0   113   4.035398
2101     2102   1714.0   384   4.463542
2141     2142     49.0    11   4.454545
2161     2162   1919.0   471   4.074310
2171     2172   3516.0   811   4.335388
2429     2430   5708.0  1399   4.080057
2451     2452  11777.0  2736   4.304459
2462     2463    206.0    51   4.039216
2607     2608    474.0   116   4.086207
2699     2700    763.0   185   4.124324
2742     2743   6786.0  1695   4.003540
2781     2782   9395.0  2320   4.049569
2861     2862  11235.0  2638   4.258908
3045     3046   2610.0   610   4.278689
3289     3290   8399.0  1937   4.336087
3443     3444   1695.0   392   4.323980
3445     3446   4694.0  1161   4.043066
3455     3456    872.0   191   4.565445
3604     3605   7545.0  1850   4.078378
3863     3864   5176.0  1252   4.134185
3927     3928   1024.0   255   4.015686
3961     3962  10408.0  2465   4.222312
4114     4115    973.0   239   4.071130
4128     4129    101.0    25   4.040000
4206     4207   1204.0   296   4.067568
4305     4306  10877.0  2642   4.116957
4352     4353   2027.0   491   4.128310

In [145]:
print("count of ratings by each user")
print(all_customers_average_ratings[[('customer_id',''),('rating', 'count')]].sort_values(('rating', 'count'), ascending=False))

count of ratings by each user
     customer_id rating
                  count
549       305344   4467
727       387418   4422
4425     2439493   4195
3049     1664010   4019
3861     2118461   3769
...          ...    ...
870       470861      1
1731      931793      1
3953     2176039      1
368       196497      1
3652     1989766      1

[4829 rows x 2 columns]

find customers who rated a random movie

In [158]:
movie_to_find = data_movies['movie_title'][randrange(1000)]
information.get_customers_who_rated_movie_title(movie_title=movie_to_find)

       movie_id  customer_id  rating  movie_year movie_title
22898       143      1331154     5.0      1997.0    The Game
22899       143      1644750     4.0      1997.0    The Game
22900       143      2031561     3.0      1997.0    The Game
22901       143      1997470     3.0      1997.0    The Game
22902       143      2467008     4.0      1997.0    The Game
...         ...          ...     ...         ...         ...
24092       143      1535440     3.0      1997.0    The Game
24093       143      2456457     5.0      1997.0    The Game
24094       143      2118159     4.0      1997.0    The Game
24095       143      2154579     2.0      1997.0    The Game
24096       143      2100070     4.0      1997.0    The Game

[1199 rows x 5 columns]

In [159]:
information.get_avg_rating_for_movie_title(movie_title=movie_to_find)

    movie_id  rating       avg_rating movie_id
                 sum count            movie_id movie_year movie_title
142      143  4288.0  1199   3.576314      143     1997.0    The Game

finding customers who rated a specific movie

In [74]:

information.get_customers_who_rated_movie_title(movie_title="Harold and Kumar Go to White Castle")

,movie_id,customer_id,rating,movie_year,movie_title
51402,290,1436762,4.0,2004.0,Harold and Kumar Go to White Castle
51403,290,1745265,5.0,2004.0,Harold and Kumar Go to White Castle
51404,290,1176140,2.0,2004.0,Harold and Kumar Go to White Castle
51405,290,439011,5.0,2004.0,Harold and Kumar Go to White Castle
51406,290,2632461,4.0,2004.0,Harold and Kumar Go to White Castle
...,...,...,...,...,...
52628,290,999312,5.0,2004.0,Harold and Kumar Go to White Castle
52629,290,520675,4.0,2004.0,Harold and Kumar Go to White Castle
52630,290,1550207,2.0,2004.0,Harold and Kumar Go to White Castle
52631,290,1424777,3.0,2004.0,Harold and Kumar Go to White Castle
52632,290,2317644,1.0,2004.0,Harold and Kumar Go to White Castle

In [75]:
information.get_avg_rating_for_movie_title(movie_title="Harold and Kumar Go to White Castle")

    movie_id  rating       avg_rating movie_id             \
                 sum count            movie_id movie_year
289      290  4351.0  1231   3.534525      290     2004.0


                             movie_title
289  Harold and Kumar Go to White Castle

In [160]:
def generate_random_user_ids(from_n, to_n):
    ids = np.unique(data_rating['customer_id'])[from_n:to_n]
    print("random user id used while in development\n")
    return ids
## use when developing the program and need new customer_ids
#generate_random_user_ids(1000, 1500)

### Details about a specific customer

In [162]:
# ids I like -> 28812, 56514, 56520, 1488844, 84100, 534046
customer_id_use = 534046

In [164]:
print("Movies/TV Shows user", customer_id_use, "has rated")
information.all_id_rows(df=data_rating_plus_movie_title, type="customer_id", item_id=customer_id_use)

Movies/TV Shows user 534046 has rated

,movie_id,customer_id,rating,movie_year,movie_title
3131,5,534046,5.0,2004.0,The Rise and Fall of ECW
8700,30,534046,5.0,2003.0,Something's Gotta Give
12247,52,534046,5.0,2002.0,The Weather Underground
31214,187,534046,3.0,2002.0,Death to Smoochy
34441,194,534046,4.0,1996.0,Arliss: The Best of Arliss
51683,290,534046,4.0,2004.0,Harold and Kumar Go to White Castle
111420,571,534046,4.0,1999.0,American Beauty
187786,1029,534046,1.0,1995.0,Tromeo and Juliet
210575,1148,534046,4.0,1981.0,For Your Eyes Only
289148,1642,534046,5.0,1995.0,Casino: 10th Anniversary Edition
299773,1700,534046,3.0,1996.0,Bottle Rocket
304076,1719,534046,5.0,2004.0,The Life Aquatic with Steve Zissou
308255,1744,534046,3.0,1984.0,Beverly Hills Cop
318144,1798,534046,4.0,1987.0,Lethal Weapon
328339,1843,534046,4.0,1994.0,Beverly Hills Cop III
391845,2178,534046,4.0,1998.0,Lock
445103,2464,534046,4.0,1999.0,Trekkies
494701,2782,534046,4.0,1995.0,Braveheart
503004,2840,534046,1.0,1977.0,Fantasm Comes Again
506551,2862,534046,5.0,1991.0,The Silence of the Lambs
522995,2939,534046,5.0,2004.0,Michael Moore Hates America
585867,3290,534046,5.0,1974.0,The Godfather
645503,3610,534046,4.0,1992.0,Lethal Weapon 3
661228,3684,534046,4.0,1964.0,Goldfinger
699273,3893,534046,4.0,1996.0,The People vs. Larry Flynt
705228,3917,534046,4.0,2004.0,Garden State
734591,4080,534046,5.0,2003.0,A Mighty Wind
785187,4356,534046,5.0,2002.0,Road to Perdition

In [166]:
print("User", customer_id_use, "stats (sum of all ratings, count of ratings, avg_rating)")
information.get_item_avg_rating(df=all_customers_average_ratings, type='customer_id', item_id=customer_id_use)

User 534046 stats (sum of all ratings, count of ratings, avg_rating)

     customer_id rating       avg_rating
                    sum count
1005      534046  113.0    28   4.035714

In [168]:
#display_movies_customer_rated_higher_than(customer_id=customer_id_use, min_rating=4)
print("Movies/TV Shows user", customer_id_use, "has rated higher (or equal) to", min_rating)
information.display_movies_customer_rated_higher_than(df=data_rating_plus_movie_title, customer_id=customer_id_use, min_rating=min_rating)

Movies/TV Shows user 534046 has rated higher (or equal) to 4
                                  movie_title  rating
movie_id
5                    The Rise and Fall of ECW     5.0
30                     Something's Gotta Give     5.0
52                    The Weather Underground     5.0
194                Arliss: The Best of Arliss     4.0
290       Harold and Kumar Go to White Castle     4.0
571                           American Beauty     4.0
1148                       For Your Eyes Only     4.0
1642         Casino: 10th Anniversary Edition     5.0
1719       The Life Aquatic with Steve Zissou     5.0
1798                            Lethal Weapon     4.0
1843                    Beverly Hills Cop III     4.0
2178                                     Lock     4.0
2464                                 Trekkies     4.0
2782                               Braveheart     4.0
2862                 The Silence of the Lambs     5.0
2939              Michael Moore Hates America     5.0
3290                            The Godfather     5.0
3610                          Lethal Weapon 3     4.0
3684                               Goldfinger     4.0
3893               The People vs. Larry Flynt     4.0
3917                             Garden State     4.0
4080                            A Mighty Wind     5.0
4356                        Road to Perdition     5.0
average rating 1005    4.035714
Name: avg_rating, dtype: float64

In [169]:
print("Movies/TV Shows user", customer_id_use, "has rated lower than", max_rating)
information.display_movies_customer_rated_lower_than(df= data_rating_plus_movie_title,customer_id=customer_id_use, max_rating=max_rating)

Movies/TV Shows user 534046 has rated lower than 4
                  movie_title  rating
movie_id
187          Death to Smoochy     3.0
1029        Tromeo and Juliet     1.0
1700            Bottle Rocket     3.0
1744        Beverly Hills Cop     3.0
2840      Fantasm Comes Again     1.0
average rating 1005    4.035714
Name: avg_rating, dtype: float64

In [173]:
print("(Results in this cell is the same as above but now shows clearer which movies/tv shows customer likes and which he hates)")
information.get_users_loved_hated_movies(df=data_rating_plus_movie_title, customer_id=customer_id_use, minmax_rating=4)

(Results in this cell is the same as above but now shows clearer which movies/tv shows customer likes and which he hates)
User 534046 loved these movies
The Rise and Fall of ECW
Something's Gotta Give
The Weather Underground
Arliss: The Best of Arliss
Harold and Kumar Go to White Castle
American Beauty
For Your Eyes Only
Casino: 10th Anniversary Edition
The Life Aquatic with Steve Zissou
Lethal Weapon
Beverly Hills Cop III
Lock
Trekkies
Braveheart
The Silence of the Lambs
Michael Moore Hates America
The Godfather
Lethal Weapon 3
Goldfinger
The People vs. Larry Flynt
Garden State
A Mighty Wind
Road to Perdition

and disliked these movies
Death to Smoochy
Tromeo and Juliet
Bottle Rocket
Beverly Hills Cop
Fantasm Comes Again

In [177]:
print("showing user", customer_id_use, "average_rating against all other users that have given a rating\n")
all_customers_avg_rating = all_customers_average_ratings["avg_rating"].mean()

usr = information.all_average_ratings(df=data_rating, type='customer_id')
usr = usr[usr["customer_id"] == 596533]

change = ((usr["avg_rating"] - all_customers_avg_rating) / all_customers_avg_rating)*100


print("average rating for user:", float(usr["avg_rating"]))
print("average rating for all users:", all_customers_avg_rating)
print("difference between them", round(float(change), 2), "%")

showing user 534046 average_rating against all other users that have given a rating

average rating for user: 4.571428571428571
average rating for all users: 3.5321404327111
difference between them 29.42 %

## Recommendations with collaborative filtering

#### functions

In [84]:
from surprise import dataset, KNNBaseline, accuracy
from surprise.model_selection import train_test_split, LeaveOneOut

def get_drop_list(type="movie_id"):
    #>IF MOVIE:  movie_id, movie rating count, movie rating mean
    #>IF CUSTOMER: customer_id, custumer rating count, customer rating mean
    df_count_mean_summary = data_rating.groupby(type)['rating'].agg(['count', 'mean'])
    df_count_mean_summary.index = df_count_mean_summary.index.map(int)
    #>IF MOVIE: returns 1799.0 as a benchmark number
    #IF CUSTOMER: returns 52.0 as a benchmark number
    benchmark = round(df_count_mean_summary['count'].quantile(0.7),0)
    # drop all rows below benchmark
    df_drop_list = df_count_mean_summary[df_count_mean_summary['count'] < benchmark]
    # return all indexes to drop
    return df_drop_list

def get_customer_recommendations(customer_id, predictor):
    #> returns movie_id, movie_year, movie_title
    chosen_customer_pred = data_movies.copy()
    # fails if movie_id is the index so we have to reset the index back to normal (0-N)
    chosen_customer_pred = chosen_customer_pred.reset_index()
    # makes sure that we only pick movies that are not in the movie dropped list
    chosen_customer_pred = chosen_customer_pred[~chosen_customer_pred['movie_id'].isin(df_movie_drop_list)]
    # make prediction for customer with id = <customer_id> and put it into 'estimated_score'
    chosen_customer_pred['estimated_score'] = chosen_customer_pred['movie_id'].apply(lambda x: predictor.predict(customer_id, x).est)
    # sort by 'estimated score'
    chosen_customer_pred = chosen_customer_pred.sort_values('estimated_score', ascending=False).set_index('movie_id')
    return chosen_customer_pred

# print out movies/tv show user has previously rated
def display_rated_content(customer_id=customer_id_use, number_to_show=20):
    print("Movies/TV Shows rated by customer", customer_id)
    #df = all_customers_id_plus_movie_title_rows(customer_id=customer_id)
    df = information.all_id_rows(df=data_rating_plus_movie_title, type='customer_id', item_id=customer_id)
    df = df[['movie_title', 'rating']].sort_values('rating', ascending=False)
    print(df[0:number_to_show].set_index('movie_title'))

def display_customers_recommendations(customer_id=customer_id_use, df=[], number_to_show=20):
    print("Movies/TV Shows recommended to customer")
    tmp_df = df[['movie_title', 'estimated_score']][0:number_to_show]
    tmp_df = tmp_df.set_index('movie_title')
    print(tmp_df)

def display_recommendation(customer_id, number_to_show, predictor):
    chosen_customer_pred = get_customer_recommendations(customer_id=customer_id, predictor=predictor)
    display_customers_recommendations(customer_id=customer_id, df=chosen_customer_pred, number_to_show=number_to_show)

def print_evaluation_accuracy(predictions):
    print("\nEvaluating accuracy of model...")
    print("RMSE: ", accuracy.rmse(predictions, verbose=False))
    print("MSE: ", accuracy.mse(predictions, verbose=False))
    print("MAE: ", accuracy.mae(predictions, verbose=False))
    # FCP = Fraction of Concordant Pairs
    print("FCP: ", accuracy.mae(predictions, verbose=False))

#### create recommenders

In [85]:
## creating a list of the movies that we don't wanna include
df_movie_drop_list = get_drop_list(type="movie_id")
#df_customer_drop_list = get_summary(type="customer_id")

In [86]:
def test_against_our_custom_function():
    _, data_rating, _, _ = NetflixLoadData.get_data_files(use_small_dataset=True)
    dataset = Dataset.load_from_df(data_rating[['customer_id', 'movie_id', 'rating']], reader)
    fullTrainset = dataset.build_full_trainset()

    trainSet, testSet = train_test_split(dataset, test_size=.25, random_state=1)

    algo = SVD(random_state=10)
    algo.fit(trainSet)

    predictions = algo.test(testSet)
    print("\nEvaluating accuracy of model...")
    print("RMSE: ", accuracy.rmse(predictions, verbose=False))
    print("MSE: ", accuracy.mse(predictions, verbose=False))
    print("MAE: ", accuracy.mae(predictions, verbose=False))
    # FCP = Fraction of Concordant Pairs
    print("FCP: ", accuracy.mae(predictions, verbose=False))


class convert_to_raw_ratings(dataset.DatasetAutoFolds):
    def __init__(self, df, reader):
        self.raw_ratings = [(uid, iid, r, None) for (uid, iid, r) in zip(df['customer_id'], df['movie_id'], df['rating'])]
        self.reader=reader

raw_ratings = convert_to_raw_ratings(data_rating, reader)
print("\nBuilding recommendation model...")
trainSet, testSet = train_test_split(raw_ratings, test_size=.25, random_state=1)

algo = SVD(random_state=10)
algo.fit(trainSet)
algo_predictions = algo.test(testSet)

Building recommendation model...

In [87]:
data_movies

       movie_id  movie_year                                        movie_title
0             1      2003.0                                    Dinosaur Planet
1             2      2004.0                         Isle of Man TT 2004 Review
2             3      1997.0                                          Character
3             4      1994.0                       Paula Abdul's Get Up & Dance
4             5      2004.0                           The Rise and Fall of ECW
...         ...         ...                                                ...
17765     17766      2002.0  Where the Wild Things Are and Other Maurice Se...
17766     17767      2004.0                  Fidel Castro: American Experience
17767     17768      2000.0                                              Epoch
17768     17769      2003.0                                        The Company
17769     17770      2003.0                                       Alien Hunter

[17770 rows x 3 columns]

In [88]:
save_to_pickle("algorithm_svd", algo)
# #save_to_pickle("algo_raw_rating", raw_ratings)
# save_to_pickle("algo_trainSet", trainSet)
# save_to_pickle("algo_testSet", testSet)

In [89]:
#cross_validate(algo, raw_ratings, measures=['MSE', 'RMSE', 'MAE'], cv=5, verbose=True)

Evaluating MSE, RMSE, MAE of algorithm SVD on 5 split(s).

                  Fold 1  Fold 2  Fold 3  Fold 4  Fold 5  Mean    Std     
MSE (testset)     0.8141  0.8190  0.8183  0.8185  0.8252  0.8190  0.0036  
RMSE (testset)    0.9023  0.9050  0.9046  0.9047  0.9084  0.9050  0.0020  
MAE (testset)     0.6996  0.7018  0.7021  0.7012  0.7034  0.7016  0.0013  
Fit time          43.46   42.70   43.19   43.22   43.34   43.18   0.26    
Test time         1.25    1.80    1.89    2.15    1.86    1.79    0.30    
{'test_mse': array([0.8140786 , 0.81902422, 0.81832184, 0.81848648, 0.8252199 ]),
 'test_rmse': array([0.90226305, 0.90499957, 0.90461143, 0.90470243, 0.90841615]),
 'test_mae': array([0.69956712, 0.70178235, 0.70205342, 0.70116675, 0.70340926]),
 'fit_time': (43.46491026878357,
  42.70126295089722,
  43.18883514404297,
  43.22296500205994,
  43.34227705001831),
 'test_time': (1.2471659183502197,
  1.798271894454956,
  1.8913426399230957,
  2.151172161102295,
  1.8620872497558594)}

In [90]:
svd = SVD(random_state=10)
data_new = Dataset.load_from_df(data_rating[['customer_id', 'movie_id', 'rating']], reader)
trainset = data_new.build_full_trainset()
svd.fit(trainset)
svd_predictions = svd.test(testSet)
print_evaluation_accuracy(svd_predictions)

Evaluating accuracy of model...
RMSE:  0.670030900148855
MSE:  0.44894140715428493
MAE:  0.5221479828726231
FCP:  0.5221479828726231

In [91]:
#cross_validate(svd, data_new, measures=['MSE', 'RMSE', 'MAE'], cv=5, verbose=True)

Evaluating MSE, RMSE, MAE of algorithm SVD on 5 split(s).

                  Fold 1  Fold 2  Fold 3  Fold 4  Fold 5  Mean    Std     
MSE (testset)     0.8129  0.8173  0.8158  0.8191  0.8206  0.8171  0.0027  
RMSE (testset)    0.9016  0.9041  0.9032  0.9050  0.9059  0.9040  0.0015  
MAE (testset)     0.6995  0.7011  0.7002  0.7017  0.7015  0.7008  0.0008  
Fit time          45.70   45.03   45.65   42.76   42.72   44.37   1.35    
Test time         1.28    1.23    1.82    1.88    1.79    1.60    0.28    
{'test_mse': array([0.8128914 , 0.81733656, 0.81576003, 0.81906422, 0.82062215]),
 'test_rmse': array([0.9016049 , 0.90406668, 0.90319435, 0.90502167, 0.90588197]),
 'test_mae': array([0.69946949, 0.70105072, 0.70019792, 0.70172599, 0.701503  ]),
 'fit_time': (45.69601392745972,
  45.02508091926575,
  45.64592099189758,
  42.75763988494873,
  42.72244310379028),
 'test_time': (1.277541160583496,
  1.228330135345459,
  1.8190929889678955,
  1.877488136291504,
  1.7900800704956055)}

In [92]:
#surprise.get_neighbours(1, 10)

In [93]:
##TODO: look into knows_user 
#       -> which tells if the user is part of the trainset,
#           -> equals true if user has at least one rating

### display recommendations

In [94]:
number_to_show = 10

#### customer = 79724

In [95]:
display_rated_content(customer_id=79724, number_to_show=number_to_show)

Movies/TV Shows rated by customer 79724
Empty DataFrame
Columns: [rating]
Index: []

In [96]:
display_recommendation(customer_id=79724, number_to_show=number_to_show, predictor=svd)

Movies/TV Shows recommended to customer
                                                    estimated_score
movie_title
Lost: Season 1                                             4.521422
The Simpsons: Season 6                                     4.369304
The Godfather                                              4.355742
Six Feet Under: Season 4                                   4.350956
The Silence of the Lambs                                   4.326521
Lord of the Rings: The Fellowship of the Ring              4.285705
Law & Order: Special Victims Unit: The Second Year         4.252380
The Simpsons: Season 3                                     4.203618
The West Wing: Season 3                                    4.195865
Nip/Tuck: Season 2                                         4.181070

In [97]:
display_recommendation(customer_id=79724, number_to_show=number_to_show, predictor=algo)

Movies/TV Shows recommended to customer
                                               estimated_score
movie_title
Lost: Season 1                                        4.542424
The Simpsons: Season 6                                4.391883
The Godfather                                         4.340253
Six Feet Under: Season 4                              4.320674
Lord of the Rings: The Fellowship of the Ring         4.278653
Family Guy: Freakin' Sweet Collection                 4.260342
The Simpsons: Treehouse of Horror                     4.247825
The Simpsons: Season 3                                4.246159
The Silence of the Lambs                              4.240932
Nip/Tuck: Season 2                                    4.239350

#### customer = customer_id_use

In [98]:
display_rated_content(customer_id=customer_id_use, number_to_show=number_to_show)

Movies/TV Shows rated by customer 534046
                                    rating
movie_title
The Rise and Fall of ECW               5.0
Casino: 10th Anniversary Edition       5.0
A Mighty Wind                          5.0
The Godfather                          5.0
Michael Moore Hates America            5.0
The Silence of the Lambs               5.0
Something's Gotta Give                 5.0
The Life Aquatic with Steve Zissou     5.0
Road to Perdition                      5.0
The Weather Underground                5.0

In [99]:
display_recommendation(customer_id=customer_id_use, number_to_show=number_to_show, predictor=svd)

Movies/TV Shows recommended to customer
                                   estimated_score
movie_title
The Silence of the Lambs                  4.975386
Six Feet Under: Season 4                  4.920907
Curb Your Enthusiasm: Season 3            4.874172
The Simpsons: Season 6                    4.871290
The Godfather                             4.827125
The Simpsons: Season 3                    4.770718
The Life of Birds                         4.757527
The Life of Mammals                       4.720321
The Simpsons: Treehouse of Horror         4.706994
The Simpsons: Season 1                    4.687082

In [100]:
display_recommendation(customer_id=customer_id_use, number_to_show=number_to_show, predictor=algo)
# recommends for example: Reservoir Dogs, which the user has already rated

Movies/TV Shows recommended to customer
                                                    estimated_score
movie_title
The Simpsons: Season 6                                     5.000000
Lord of the Rings: The Fellowship of the Ring              5.000000
The Simpsons: Season 3                                     5.000000
The Silence of the Lambs                                   5.000000
The Godfather                                              4.965630
The Twilight Zone: Vol. 3                                  4.920416
Lost: Season 1                                             4.917772
Law & Order: Special Victims Unit: The Second Year         4.902102
The Twilight Zone: Vol. 42                                 4.847656
Aliens: Collector's Edition                                4.846262

### print accuracy

In [101]:
print_evaluation_accuracy(svd_predictions)

Evaluating accuracy of model...
RMSE:  0.670030900148855
MSE:  0.44894140715428493
MAE:  0.5221479828726231
FCP:  0.5221479828726231

In [102]:
print_evaluation_accuracy(algo_predictions)

Evaluating accuracy of model...
RMSE:  0.9048402795139483
MSE:  0.8187359314308801
MAE:  0.7014346782230714
FCP:  0.7014346782230714

In [103]:
test_against_our_custom_function() #for algo predictions

Evaluating accuracy of model...
RMSE:  0.9048402795139483
MSE:  0.8187359314308801
MAE:  0.7014346782230714
FCP:  0.7014346782230714

results are the same so we will not use the custom function since it adds no value

## other

In [39]:
def getMovieName(movieID):
  if int(movieID) in tmp_data_movies:
      return tmp_data_movies[int(movieID)]
  else:
      return ""

In [40]:
dataset = Dataset.load_from_df(data_rating[['customer_id', 'movie_id', 'rating']], reader)
fullTrainset = dataset.build_full_trainset()
fullTestSet = fullTrainset.build_anti_testset()
trainSet, testSet = train_test_split(dataset, test_size=.25, random_state=1)

In [41]:
# creating a dict of movie id and movie_title to make sure we don't recommend user something he has rated before
tmp_data_movies = data_movies[['movie_id', 'movie_title']]
tmp_data_movies = tmp_data_movies.set_index('movie_id').T
tmp_data_movies = tmp_data_movies.to_dict('list')
tmp_data_movies = {k: str(v[0]) for k,v in tmp_data_movies.items()}

In [42]:
data_movies

       movie_id  movie_year                                        movie_title
0             1      2003.0                                    Dinosaur Planet
1             2      2004.0                         Isle of Man TT 2004 Review
2             3      1997.0                                          Character
3             4      1994.0                       Paula Abdul's Get Up & Dance
4             5      2004.0                           The Rise and Fall of ECW
...         ...         ...                                                ...
17765     17766      2002.0  Where the Wild Things Are and Other Maurice Se...
17766     17767      2004.0                  Fidel Castro: American Experience
17767     17768      2000.0                                              Epoch
17768     17769      2003.0                                        The Company
17769     17770      2003.0                                       Alien Hunter

[17770 rows x 3 columns]

In [43]:
tmp_data_movies

{1: 'Dinosaur Planet',
 2: 'Isle of Man TT 2004 Review',
 3: 'Character',
 4: "Paula Abdul's Get Up & Dance",
 5: 'The Rise and Fall of ECW',
 6: 'Sick',
 7: '8 Man',
 8: 'What the #$*! Do We Know!?',
 9: "Class of Nuke 'Em High 2",
 10: 'Fighter',
 11: 'Full Frame: Documentary Shorts',
 12: 'My Favorite Brunette',
 13: 'Lord of the Rings: The Return of the King: Extended Edition: Bonus Material',
 14: 'Nature: Antarctica',
 15: 'Neil Diamond: Greatest Hits Live',
 16: 'Screamers',
 17: '7 Seconds',
 18: 'Immortal Beloved',
 19: "By Dawn's Early Light",
 20: 'Seeta Aur Geeta',
 21: 'Strange Relations',
 22: 'Chump Change',
 23: "Clifford: Clifford Saves the Day! / Clifford's Fluffiest Friend Cleo",
 24: 'My Bloody Valentine',
 25: 'Inspector Morse 31: Death Is Now My Neighbour',
 26: 'Never Die Alone',
 27: "Sesame Street: Elmo's World: The Street We Live On",
 28: 'Lilo and Stitch',
 29: 'Boycott',
 30: "Something's Gotta Give",
 31: 'Classic Albums: Meat Loaf: Bat Out of Hell',
 32: "ABC Primetime: Mel Gibson's The Passion of the Christ",
 33: 'Aqua Teen Hunger Force: Vol. 1',
 34: "Ashtanga Yoga: Beginner's Practice with Nicki Doane",
 35: 'Ferngully 2: The Magical Rescue',
 36: 'Lady Chatterley',
 37: "Zatoichi's Conspiracy",
 38: 'Daydream Obsession',
 39: 'Love Reinvented',
 40: 'Pitcher and the Pin-Up',
 41: 'Horror Vision',
 42: 'Searching for Paradise',
 43: 'Silent Service',
 44: 'Spitfire Grill',
 45: 'The Love Letter',
 46: 'Rudolph the Red-Nosed Reindeer',
 47: 'The Bad and the Beautiful',
 48: 'Justice League',
 49: 'Devo: The Complete Truth About De-evolution',
 50: 'A Yank in the R.A.F.',
 51: 'Jonah: A VeggieTales Movie: Bonus Material',
 52: 'The Weather Underground',
 53: 'The Bonesetter',
 54: "We're Not Married",
 55: 'Jade',
 56: 'Carandiru',
 57: 'Richard III',
 58: 'Dragonheart',
 59: 'Sex and the Beauties',
 60: 'The Libertine',
 61: 'Ricky Martin: One Night Only',
 62: "Ken Burns' America: Empire of the Air",
 63: 'Crash Dive',
 64: 'Outside the Law',
 65: 'Lost in the Pershing Point Hotel',
 66: 'Barbarian Queen 2',
 67: 'Vampire Journals',
 68: 'Invader Zim',
 69: 'WWE: Armageddon 2003',
 70: 'Tai Chi: The 24 Forms',
 71: 'Maya Lin: A Strong Clear Vision',
 72: 'At Home Among Strangers',
 73: 'Davy Crockett: 50th Anniversary Double Feature',
 74: '6ixtynin9',
 75: 'Grind',
 76: 'I Love Lucy: Season 2',
 77: 'Congo',
 78: 'Jingle All the Way',
 79: 'The Killing',
 80: 'Winter Kills',
 81: 'Antarctica: IMAX',
 82: 'The Frogmen',
 83: 'Silkwood',
 84: 'The Powerpuff Girls Movie',
 85: 'Elfen Lied',
 86: 'Iron Monkey 2',
 87: 'Louder Than Bombs',
 88: 'Record of Lodoss War: Chronicles of the Heroic Knight',
 89: 'Chain of Command',
 90: 'The Lemon Drop Kid',
 91: 'WWE: Royal Rumble 2005',
 92: "ECW: Cyberslam '99",
 93: 'They Came Back',
 94: 'G3: Live in Concert',
 95: 'Dona Herlinda and Her Son',
 96: 'Inside the Space Station',
 97: 'Mostly Martha',
 98: 'The Battle of Algiers: Bonus Material',
 99: 'A Fishy Story',
 100: 'Sam the Iron Bridge',
 101: 'Complete Shamanic Princess',
 102: 'Notre Musique',
 103: 'Sanford and Son: Season 6',
 104: 'The Great Race',
 105: 'Obsessed',
 106: 'Stevie Ray Vaughan and Double Trouble: Live at Montreux 1982 & 1985',
 107: 'Magnolia: Bonus Material',
 108: 'Spartan',
 109: 'No Way Back',
 110: 'Scandal',
 111: 'Duplex (Widescreen)',
 112: 'The Eye of Vichy',
 113: "Bruce Lee: A Warrior's Journey",
 114: 'Dominion Tank Police Part 1 & 2',
 115: 'Lord Peter Wimsey: Murder Must Advertise',
 116: 'Bear Cub',
 117: 'Silk Stockings',
 118: 'Rambo: First Blood Part II',
 119: 'Travel the World by Train: Africa',
 120: 'Plain Dirty',
 121: 'Beyonce: Live at Wembley',
 122: 'Cube 2: Hypercube',
 123: 'Chain of Fools',
 124: 'Cold Blooded',
 125: 'Nighthawks',
 126: 'Vampire Effect (aka Twins Effect)',
 127: 'Fatal Beauty',
 128: 'Mr. Vampire',
 129: 'Darkwolf',
 130: 'Drowning on Dry Land',
 131: 'Arachnid',
 132: 'Lucio Fulci: The Beyond',
 133: 'Viva La Bam: Season 1',
 134: 'Spirit Lost',
 135: 'GTO: Great Teacher Onizuka: Set 2',
 136: 'Cat and the Canary',
 137: 'Naked Lies',
 138: 'Star Trek: Voyager: Season 1',
 139: 'Allergies: A Natural Approach',
 140: 'Lost in the Wild',
 141: 'Goddess of Mercy',
 142: 'The Tricky Master',
 143: 'The Game',
 144: 'Deepak Chopra: The Way of the Wizard & Alchemy',
 145: 'Get Out Your Handkerchiefs',
 146: 'Cannibal Women in the Avocado Jungle of Death',
 147: 'Where Sleeping Dogs Lie',
 148: 'Sweet November',
 149: 'The Edward R. Murrow Collection',
 150: 'Firetrap',
 151: 'Sleepover Nightmare',
 152: 'A Little Princess',
 153: 'MTV Yoga',
 154: 'Demon Warrior Koji',
 155: 'The Strongest Man in the World',
 156: 'Husbands and Wives',
 157: 'Laird: White Knuckle Extreme',
 158: 'A Killer Within',
 159: 'Gentlemen of Fortune',
 160: 'Gormenghast',
 161: 'Ninotchka',
 162: 'John Cleese on How to Irritate People',
 163: 'MTV: Making the Band 2: Best of Season 1',
 164: 'One Last Dance',
 165: 'Richard Pryor: Live on the Sunset Strip',
 166: 'Fame',
 167: 'The Chorus',
 168: 'Smokey and the Bandit Part 3',
 169: 'Cartoon Network Halloween: 9 Creepy Cartoon Capers',
 170: 'Tomorrow',
 171: 'Funny Face',
 172: 'Jack',
 173: "The Devil's Brigade",
 174: 'Adam-12: Season 1',
 175: 'Reservoir Dogs',
 176: 'The History Channel Presents: Troy: Unearthing the Legend',
 177: 'Pressure',
 178: 'Regular Guys',
 179: 'Bollywood Bound',
 180: 'Scratch',
 181: 'The Last Shot',
 182: 'Moby: Play',
 183: 'IFilm: Deranged',
 184: 'Billy Blanks: Tae Bo: Cardio Circuit 1',
 185: 'Missing in Action 2: The Beginning / Missing in Action 3: Braddock',
 186: 'Panic in the Streets',
 187: 'Death to Smoochy',
 188: 'Dead Birds',
 189: 'Airplane II: The Sequel',
 190: 'Blood and Sand',
 191: 'X2: X-Men United',
 192: 'The SoulTaker',
 193: 'Marilyn Manson: Fear of a Satanic Planet',
 194: 'Arliss: The Best of Arliss',
 195: 'Chasing Freedom',
 196: 'Peter Tosh: Stepping Razor: Red X',
 197: 'Taking Lives',
 198: 'Gupt',
 199: 'The Deer Hunter',
 200: 'The Fall of the Roman Empire',
 201: 'Home Movie',
 202: "Ruby's Bucket of Blood",
 203: 'Sports Illustrated Swimsuit Edition: 1997',
 204: 'Venus Boyz',
 205: 'Troy: Bonus Material',
 206: 'Unconstitutional: The War on Our Civil Liberties',
 207: 'Denise Austin: Ultimate Fat Burner',
 208: 'The Three Stooges: Sing a Song of Six Pants',
 209: 'Star Trek: Deep Space Nine: Season 5',
 210: 'Onmyoji',
 211: 'The Agronomist',
 212: 'Querelle',
 213: 'Dinner Rush',
 214: 'Read-Along: Beauty and the Beast',
 215: "That '70s Show: Season 1",
 216: 'Impostor',
 217: 'Cherry 2000',
 218: 'Triumph: Live at the US Festival',
 219: 'Neon Bible',
 220: 'Winston Churchill: The Wilderness Years',
 221: 'Voyage to the Planets and Beyond',
 222: 'Yellow',
 223: "Chappelle's Show: Season 1",
 224: 'Midsomer Murders: Blood Will Out',
 225: 'The Cookout',
 226: 'Henry: Portrait of a Serial Killer 2',
 227: 'The Carol Burnett Show: Show Stoppers',
 228: 'Butch and Sundance: The Early Days',
 229: 'Peter Gabriel: Growing Up Live',
 230: 'Unsolved Mysteries: Psychics',
 231: 'Marooned in Iraq',
 232: 'Gross Anatomy',
 233: "Chato's Land",
 234: 'Animation Legend: Winsor McCay',
 235: 'Unhook the Stars',
 236: 'Cartoon Crazys Sci-Fi',
 237: 'Broken Blossoms',
 238: 'Led Zeppelin: The Song Remains the Same',
 239: 'Winnie the Pooh: Springtime with Roo',
 240: 'Woman of the Year',
 241: 'North by Northwest',
 242: 'Neon Genesis Evangelion: The End of Evangelion',
 243: 'Pressure Point',
 244: 'Stellvia',
 245: 'Road Dogz',
 246: 'The Boston Strangler',
 247: 'Oleanna',
 248: "Michael Moore's The Awful Truth: Season 2",
 249: 'The Hunters',
 250: 'Cast a Giant Shadow',
 251: "Midsomer Murders: Strangler's Wood",
 252: 'Stuart Little 2',
 253: 'A Night at the Opera',
 254: 'Westender',
 255: 'The Hunchback of Notre Dame II',
 256: 'Ghost Dog: The Way of the Samurai',
 257: "Charlotte's Web",
 258: 'Mann',
 259: 'Animal',
 260: 'Marat / Sade',
 261: 'The Big Clock',
 262: 'Herbie Rides Again',
 263: 'Dragon Ball: Tournament Saga',
 264: 'Angelina Ballerina: Lights',
 265: 'The Jeff Corwin Experience: Costa Rica and the Amazon',
 266: 'Saudade Do Futuro',
 267: 'Touched by an Angel: Season 1',
 268: 'The Final Countdown',
 269: 'Parenthood',
 270: 'Sex and the City: Season 4',
 271: 'Saludos Amigos',
 272: 'Female Yakuza Tale',
 273: 'Taxi',
 274: 'Crazy as Hell',
 275: 'Evelyn',
 276: 'Cold Harvest',
 277: 'Enigma: MCMXC A.D',
 278: '100 Days Before the Command',
 279: 'Micki and Maude',
 280: 'Sarah Brightman: In Concert',
 281: 'The Legend',
 282: 'Blue Seed: Beyond',
 283: 'If These Walls Could Talk',
 284: 'Sasquatch Hunters',
 285: "The Devil's Own",
 286: 'Thunderbirds Are Go',
 287: 'Luther Vandross: Always and Forever: An Evening of Songs',
 288: 'Saturday Night Live: The Best of Chris Kattan',
 289: 'The Avengers',
 290: 'Harold and Kumar Go to White Castle',
 291: 'Chained Heat 3: Hell Mountain',
 292: 'Saturday Night Live: The Best of Gilda Radner',
 293: 'Lennon Legend: The Very Best of John Lennon',
 294: 'Oasis',
 295: 'Ace Ventura: When Nature Calls',
 296: 'In His Life: The John Lennon Story',
 297: 'The Hebrew Hammer',
 298: 'Crunch: Pick Your Spot Pilates',
 299: "Bridget Jones's Diary",
 300: 'Option Zero',
 301: 'Hard Ground',
 302: 'The Isle',
 303: 'Les Liaisons Dangereuses',
 304: 'King of the Hill: Season 1',
 305: 'Jack',
 306: 'Sesame Street: Sing Yourself Silly!',
 307: 'Godsmack: Smack This!',
 308: 'The Legend of the 7 Golden Vampires/7 Brothers of Dracula',
 309: 'The Day of the Locust',
 310: 'Leila',
 311: 'Ed Wood',
 312: 'High Fidelity',
 313: 'Pay It Forward',
 314: 'Saturday Night Live: The Best of Jon Lovitz',
 315: 'Combat! Season 3: Operation 2',
 316: 'Futurama: Monster Robot Maniac Fun Collection',
 317: 'Mandela and de Klerk',
 318: 'Beyond Suspicion',
 319: 'Straight to Hell',
 320: 'Eat Your Heart Out',
 321: 'Ju-Rei: The Uncanny',
 322: 'Flesh Gordon',
 323: 'Modern Vampires',
 324: "Mother's Boys",
 325: 'Ghosts of Rwanda: Frontline',
 326: 'The Plainsman',
 327: 'Storefront Hitchcock',
 328: 'Deftones: Live in Hawaii',
 329: 'Dogma',
 330: 'Wild Things',
 331: 'Chasing Amy',
 332: 'They Crawl',
 333: 'Mail Call: The Best of Season 2',
 334: 'The Pacifier',
 335: 'Fear No Evil',
 336: 'The Driver',
 337: 'Star 80',
 338: 'The Three Stooges: Three Smart Saps',
 339: 'Rolling Stones: Rock and Roll Circus',
 340: 'Midnight: 2000 Seen By...',
 341: 'Tremors 4: The Legend Begins',
 342: 'Noir',
 343: 'French and Saunders: Live',
 344: 'The Taming of the Shrew',
 345: 'Star Trek: Voyager: Season 5',
 346: 'Up and Down',
 347: 'Iceman Cometh',
 348: 'The Last Temptation of Christ',
 349: 'The Swarm',
 350: 'Dr. Quinn',
 351: 'Guns of the Magnificent Seven',
 352: 'Pick a Card',
 353: 'Life or Something Like It',
 354: 'Sadomania',
 355: 'Sinful Nuns of St. Valentine',
 356: 'Look at Me',
 357: 'House of Sand and Fog',
 358: 'The Onion Field',
 359: 'Absolutely Fabulous: Series 5',
 360: 'Lies',
 361: 'The Phantom of the Opera: Special Edition',
 362: 'The Flintstones in Viva Rock Vegas',
 363: 'Stark Raving Mad',
 364: 'Billy Blanks: Tae Bo: Contact 2',
 365: 'R.E.M.: Tourfilm',
 366: 'Still',
 367: 'Spun',
 368: 'The Best of Designing Women',
 369: 'Playing Mona Lisa',
 370: 'Chaplin',
 371: 'The Trouble with Angels',
 372: 'Jeans',
 373: 'Third World Cop',
 374: 'The Little Girl Who Lives Down the Lane',
 375: 'Nine Dead Gay Guys',
 376: 'Genesis: The Way We Walk: Live in Concert',
 377: 'Dick Francis: The Racing Game',
 378: 'Party Monster',
 379: 'Crash Dive',
 380: 'Live Wire',
 381: 'Out for Justice',
 382: 'Buried in the Sand: The Deception of America',
 383: 'Hit Team',
 384: 'Crossroads',
 385: 'The Santa Clause 2',
 386: 'Princess Caraboo',
 387: "Bizet's Carmen",
 388: 'Body Chemistry',
 389: 'Steal',
 390: 'The Fan',
 391: 'The Monkees: Season 2',
 392: "Danielle Steel's Heartbeat",
 393: 'The Replacement Killers',
 394: '20',
 395: 'Captain Blood',
 396: 'Arjuna: Complete Collection',
 397: 'A Night in Casablanca',
 398: 'In the Realm of the Senses',
 399: 'Fangs',
 400: 'Rio Lobo',
 401: 'Halloween 5: The Revenge of Michael Myers',
 402: 'Pan Tadeusz',
 403: 'Substitute 4: Failure is Not an Option',
 404: 'The Shaft',
 405: 'Wings of Desire',
 406: 'Hostage',
 407: 'The Abductors',
 408: 'Nightbreed',
 409: 'Godzilla vs. The Sea Monster',
 410: 'Frank Lloyd Wright',
 411: 'Vendetta',
 412: 'Jay Jay the Jet Plane: Adventures in Learning',
 413: 'Igby Goes Down',
 414: 'Girl',
 415: 'Reign in Darkness',
 416: 'Elephant',
 417: 'Transformers: Season 3: Part 1',
 418: 'The Deal',
 419: 'George Lopez: Why You Crying?',
 420: 'Saturday Night Live: The Best of Dana Carvey',
 421: "Agatha Christie's Poirot: Sad Cypress",
 422: 'The Unsinkable Molly Brown',
 423: 'My Favorite Martian #1',
 424: 'Happiness',
 425: 'The 10th Kingdom',
 426: "Recess: School's Out",
 427: 'Graveyard Shift',
 428: "Barney: Barney's Colorful World: Live",
 429: 'Zeus and Roxanne',
 430: 'Chobits',
 431: 'Millennium Actress',
 432: 'Les Miserables in Concert',
 433: 'Untamed Heart',
 434: "Extreme Engineering: Tokyo's Sky City",
 435: 'Love Can Seriously Damage Your Health',
 436: 'Girls Just Want to Have Fun',
 437: 'Beyblade: Fierce Battle',
 438: 'Bean: The Movie',
 439: 'Town Without Pity',
 440: 'Just 4 Kicks',
 441: 'Dark Shadows: Vol. 9',
 442: 'Mississippi Burning',
 443: 'Rabbit-Proof Fence',
 444: 'The Inner Tour',
 445: 'Michael Collins',
 446: 'The Underneath',
 447: 'The Making of Fanny and Alexander',
 448: 'Oswald: Welcome to the Big City!',
 449: 'Jimmy Buffett: MiniMatinee #1',
 450: "Isaac Stern: Life's Virtuoso",
 451: 'Batman the Animated Series: Vol. 3',
 452: 'Scorched',
 453: 'Simple Men',
 454: 'Xena: Warrior Princess: Season 3',
 455: 'Cardcaptor Sakura: The Movie',
 456: 'Emma (Miniseries)',
 457: 'Kill Bill: Vol. 2',
 458: 'Blast',
 459: 'Basquiat',
 460: 'Pink Narcissus',
 461: 'Nightwalker #1: Midnight Detective',
 462: 'Classic Cartoon Favorites: Starring Donald',
 463: 'The Twilight Zone: Vol. 12',
 464: 'The Return of Ruben Blades',
 465: 'Coolie No.1',
 466: 'Doogie Howser',
 467: 'Topper Returns',
 468: 'The Matrix: Revolutions',
 469: 'First Night of My Life: 2000 Seen By...',
 470: 'Beneath Loch Ness',
 471: 'City Lights',
 472: 'Mr. Jealousy',
 473: 'Princess Mononoke',
 474: 'Legend of 1900',
 475: 'Surf Ninjas',
 476: "VeggieTales Classics: Where's God When I'm Scared?",
 477: 'George Carlin: Personal Favorites',
 478: 'The Beverly Hillbillies',
 479: 'George Carlin: What Am I Doing in New Jersey?',
 480: 'Flypaper',
 481: 'Building the Great Pyramid',
 482: 'Frida',
 483: 'Rush Hour 2',
 484: "Danielle Steel's Jewels",
 485: "The Avengers '67",
 486: 'Journey to the Center of the Earth',
 487: 'Doctor Who: Lost in Time: The Patrick Troughton Years',
 488: 'His Secret Life',
 489: 'Return to Paradise',
 490: 'The Passion of Ayn Rand',
 491: 'Torn Curtain',
 492: 'Mrs. Soffel',
 493: 'The Giallo Collection: Who Saw Her Die?',
 494: "Monty Python's The Meaning of Life: Special Edition",
 495: 'Mission Kashmir',
 496: 'Primus: Hallucino-Genetics Live 2004',
 497: "Broadway's Lost Treasures",
 498: 'Glory: Bonus Material',
 499: 'Under Suspicion',
 500: 'Mail Call: The Best of Season 1',
 501: 'Three Days of the Condor',
 502: 'Mitch Hedberg: Mitch All Together',
 503: 'Max and Ruby: Springtime for Max and Ruby',
 504: 'The Twilight Zone: Vol. 27',
 505: 'A Thousand Acres',
 506: "Blank Generation / Dancin' Barefoot",
 507: 'Nevada Smith',
 508: 'Saint Jack',
 509: 'The Volcano Disaster',
 510: "Blue's Clues: Blue's Room: It's Hug Day",
 511: 'Avenging Angelo',
 512: 'Bubblegum Crisis: Hurricane Live!',
 513: 'Butterfly Kiss',
 514: 'Santana: Supernatural Live',
 515: 'Avia Vampire Hunter',
 516: 'Monsoon Wedding',
 517: 'Two Can Play That Game',
 518: 'The Prime of Miss Jean Brodie',
 519: 'From Mao to Mozart: Isaac Stern in China',
 520: "E's Otherwise",
 521: 'Presenting Felix the Cat',
 522: 'Love Songs',
 523: 'My Side of the Mountain',
 524: 'Mumford',
 525: 'The Last Seduction II',
 526: 'Angie',
 527: 'Barbarian Queen',
 528: "The Hitchhiker's Guide to the Galaxy",
 529: 'Summer of the Monkeys',
 530: 'Return to Horror High',
 531: "You're Invited to Mary-Kate and Ashley's Vacation Parties",
 532: 'Young Einstein',
 533: 'Drop Dead Fred',
 534: 'With a Friend Like Harry',
 535: 'The Alamo',
 536: 'Sol Goode',
 537: 'Here is Greenwood',
 538: 'A Crime of Passion',
 539: 'Rumpole of the Bailey: Series 4',
 540: 'Ghosts of the Abyss: Bonus Material',
 541: 'King Cobra',
 542: 'The Blackout',
 543: 'Roughnecks: The Starship Troopers Chronicles: The Pluto Campaign',
 544: 'Maurice: Bonus Material',
 545: 'Bob the Builder: The Big Game',
 546: 'The Strip Game',
 547: 'Kuffs',
 548: 'Hudson Hawk',
 549: 'Rage at Dawn',
 550: 'First Knight',
 551: 'The Santa Clause',
 552: 'Radioland Murders',
 553: 'Rangeela',
 554: 'Solaris',
 555: 'Cadfael: A Morbid Taste for Bones',
 556: 'New Waterford Girl',
 557: 'Liebestraum',
 558: 'Fantastic Four',
 559: 'Rebecca: Bonus Material',
 560: 'Star Trek: Enterprise: Season 3',
 561: 'High and Low',
 562: 'Bloody Mallory',
 563: 'Jimmy Neutron: Boy Genius',
 564: 'Predator 2',
 565: 'Tom Petty and the Heartbreakers: Live at the Olympic: The Last DJ',
 566: 'Bullet',
 567: 'Dunsmore',
 568: 'Knights of Ramune',
 569: 'The In-Laws',
 570: 'The Visit',
 571: 'American Beauty',
 572: 'The Masque of the Red Death / The Premature Burial',
 573: 'Winners & Sinners',
 574: 'Strangers When We Meet',
 575: 'Highlander: Season 4',
 576: 'Popular: Season 2',
 577: 'The Twilight Zone: Vol. 36',
 578: 'The Terror',
 579: 'The Autobiography of Miss Jane Pittman',
 580: 'THX 1138: Special Edition',
 581: 'Black Jack: The Movie',
 582: 'Jo Jo Dancer',
 583: 'Third Man on the Mountain',
 584: 'The Curve',
 585: 'My Family',
 586: 'Shanghai Triad',
 587: 'The Scarlet and the Black',
 588: 'Blue Planet: IMAX',
 589: 'Northanger Abbey',
 590: 'Michael McDonald: A Gathering of Friends',
 591: 'Particles of Truth',
 592: 'House of Whipcord',
 593: 'Baby Genius: Mozart and Friends',
 594: 'By Hook or By Crook',
 595: 'Monarch of the Glen: Series 2',
 596: 'Alice in Wonderland (TV Version)',
 597: 'The Brady Bunch Variety Hour',
 598: 'Bobby Darin: Mack is Back',
 599: 'Sea of Love',
 600: "What's Up",
 601: 'The Smiths: The Complete Picture',
 602: 'Tokyo Raiders',
 603: 'Burn Up Excess: Vol. 1: To Serve and Protect',
 604: "Walt Disney's Timeless Tales: Vol. 2",
 605: 'The Secrets of the Dead Sea Scrolls',
 606: 'Quatermass and the Pit',
 607: 'Speed',
 608: 'The Lickerish Quartet',
 609: 'Jimmy Neutron: Attack of the Twonkies',
 610: 'Offspring: Americana',
 611: 'Spooks & Creeps',
 612: 'Cloak and Dagger',
 613: 'The Dr. Who Collection',
 614: 'Bad Boy Bubby',
 615: 'An Ideal Husband',
 616: 'SCTV Network 90: Vol. 4',
 617: 'UFC: Ultimate Fighting Championship: Ultimate Knockouts 3',
 618: 'Totally F***ed Up',
 619: 'Doctor Who: The Leisure Hive',
 620: 'Hot Wheels: World Race',
 621: 'Armageddon',
 622: "Talkin' Dirty After Dark",
 623: 'Dario Argento Collection: Vol. 2: Demons 2',
 624: 'My Mother Likes Women',
 625: 'Underground Comedy Movie',
 626: 'They Died with Their Boots On',
 627: 'Beware of a Holy Whore',
 628: 'Rescue Heroes: The Movie',
 629: 'Firestarter',
 630: 'Empire of the Ants',
 631: 'Unleashed',
 632: "Shaft's Big Score!",
 633: 'Baazigar',
 634: 'Christmas with The Simpsons',
 635: 'The Fassbinder Collection: Pioneer in Ingolstadt',
 636: 'Stir Crazy',
 637: 'National Geographic: Inside American Power: Air Force One',
 638: 'The Last Dragon',
 639: 'Jim Brown: All-American',
 640: 'To Catch a Killer',
 641: 'Charly',
 642: 'Mystery Science Theater 3000: The Hellcats',
 643: 'Buying the Cow',
 644: 'Cheyenne Warrior',
 645: 'Dear Frankie',
 646: 'Matewan',
 647: 'Cinderfella',

In [56]:
similarity_matrix = KNNBasic(sim_options={'name': 'cosine', 'user_based': False}).fit(fullTrainset)

Computing the cosine similarity matrix...
Done computing similarity matrix.

In [57]:
#save_to_pickle("knnbasic_similarity_matrix", similarity_matrix)

In [47]:
# generate_random_user_ids(1000, 1500)

In [48]:
# for i in generate_random_user_ids(1000, 1500):
#     if (len(all_custumers_id_rows(i)) > 3):
#         print(i)

In [49]:
test_subject = 596533#16272
k = 10

In [50]:
test_subject_iid = trainSet.to_inner_uid(test_subject)

test_subject_ratings = trainSet.ur[test_subject_iid]
k_neighbours = heapq.nlargest(k, test_subject_ratings, key=lambda t: t[1])

In [51]:
def get_candidates(k_neighbours):
    candidates = defaultdict(float)
    for itemID, rating in k_neighbours:
        try:
            similarities = similarity_matrix[itemID]
            for innerID, score in enumerate(similarities):
                candidates[innerID] += score * (rating / 5.0)
        except:
            continue
    return candidates

candidates = get_candidates(k_neighbours)

In [52]:
def get_watched(trainset):
    watched = {}
    for itemID, rating in trainset.ur[test_subject_iid]:
        watched[itemID] = 1
    return watched
watched = get_watched(trainSet)

In [53]:
def get_recommendations(candidates):
    recommendations = []
    position = 0
    for itemID, rating_sum in sorted(candidates.items(), key=itemgetter(1), reverse=True):
        if not itemID in watched:
            recommendations.append(getMovieName(trainSet.to_raw_iid(itemID)))
            position += 1
            # only want top n which in our case in 10
            if(position > 10): break
    return recommendations
recommendations = get_recommendations(candidates)

In [54]:
for rec in recommendations:
    print("Movie: ", rec)

In [55]:
print("user", test_subject, 'previous recommendations')
display_recommendation(customer_id=test_subject, number_to_show=10, predictor=svd)

user 596533 previous recommendations

NameError: name 'svd' is not defined

In [ ]:
#TODO:
#for the new user problem
## find highest rated movie / tv shows that have been watched the most -> how likely is new user to click on it ?

In [ ]:
#cross_validate(similarity_matrix, dataset, measures=['MSE', 'RMSE', 'MAE'], cv=5, verbose=True)

                  Fold 1  Fold 2  Fold 3  Fold 4  Fold 5  Mean    Std     
MSE (testset)     0.9602  0.9557  0.9631  0.9550  0.9619  0.9592  0.0033  
RMSE (testset)    0.9799  0.9776  0.9814  0.9772  0.9807  0.9794  0.0017  
MAE (testset)     0.7597  0.7583  0.7616  0.7580  0.7612  0.7598  0.0015  
Fit time          28.84   29.80   30.16   29.78   30.27   29.77   0.50    
Test time         71.32   68.97   72.02   69.09   70.66   70.41   1.21    
{'test_mse': array([0.96018258, 0.95572922, 0.9631195 , 0.95499539, 0.96186938]),
 'test_rmse': array([0.97988906, 0.97761404, 0.98138652, 0.97723866, 0.9807494 ]),
 'test_mae': array([0.7597183 , 0.75826306, 0.76159982, 0.75801584, 0.76119729]),
 'fit_time': (28.836588859558105,
  29.796326160430908,
  30.156323671340942,
  29.780963897705078,
  30.26855206489563),
 'test_time': (71.32496619224548,
  68.9672601222992,
  72.02299118041992,
  69.09478878974915,
  70.65942907333374)}