In [186]:
#!pip install surprise
#!pip install import-ipynb
import os
import csv
import pandas as pd
import numpy as np
import heapq
import matplotlib.pyplot as plt
import seaborn as sns
from surprise import Reader, Dataset, SVD
from surprise.model_selection import cross_validate
import pickle
from random import *
from surprise import accuracy
from collections import defaultdict
from surprise import KNNBasic
from collections import defaultdict
from operator import itemgetter
import NetflixLoadData as NetflixLoadData 
#sns.set_style("darkgrid")

In [187]:
use_pickle_file = True
max_n = 2500000 #how many rows we want from data_ratings and data_rating_plus_movie_title
reader = Reader(line_format='user item rating', rating_scale=(1, 5))

## Get data

In [188]:
NetflixLoadData.commented_implementation()

This part was a huge problem for me since the original files where weirdly structured
For example the ratings file was structured with the movie_id randomly being placed in a line and each line after that was refering to that movie without having the id in their line, then another movie randomly started in a line and lines after that were a reference to that movie

How it looked before:
1:
 1488844, 3, 2005-09-06
 822109, 5, 2005-05-13
 885013, 4, 2005-10-19
 30878, 4, 2005-12-26
....
....
...

2:
 2059652, 4, 2005-09-05
 1666394, 3, 2005-04-19
 1759415, 4, 2005-04-22
 1959936, 5, 2005-11-21
....
....
...

the way I fixed this was include everything in a dataframe and if there was a missing rating then that was a movie_id other wise it was a customer rating, then I combined all these rows to those ratingsm so each movie had a correct reference

(** to see all how these four files below were created, look at the file NetflixLoadData.py and there look at these functions -> get_dataframes(), create_dataframe() and commented_code_that_was_used_before() **)

In [189]:
data_movies, data_rating, data_rating_plus_movie_title, _ = NetflixLoadData.get_data_files(use_small_dataset=True)

In [190]:
data_rating

        movie_id  customer_id  rating
0              1      1488844     3.0
1              1       822109     5.0
2              1       885013     4.0
3              1        30878     4.0
4              1       823519     3.0
...          ...          ...     ...
813413      4499       101554     4.0
813414      4499      1334851     3.0
813415      4499      1852040     1.0
813416      4499       185372     1.0
813417      4499      2562830     4.0

[813418 rows x 3 columns]

## Helper functions

In [191]:
def save_to_pickle(name, df):
    path_name = "pickle/"+name+".pickle"
    pickle_file = open(path_name,"wb")
    pickle.dump(df, pickle_file)
    pickle_file.close()

def load_pickle(name):
    path_name = "pickle/"+name+".pickle"
    return_input = open(path_name, "rb")
    return pickle.load(return_input)

## Finding information about the data before doing anything major

In [192]:
import MovieCustomerInformation as information
max_rating = 4
min_rating = 4

### Details about all customers/movies

In [193]:
# get the average movie rating for all customers
# used to determine if this user typically gives bad or good reviews
# and then we can see if he really hates or loves a movie
all_customers_average_ratings =  information.all_average_ratings(df=data_rating, type='customer_id')
print(all_customers_average_ratings)

     customer_id  rating       avg_rating
                     sum count
0            685   124.0    30   4.133333
1            915    30.0     7   4.285714
2            967    87.0    24   3.625000
3           1333  2007.0   750   2.676000
4           2442   404.0   118   3.423729
...          ...     ...   ...        ...
4824     2646591   163.0    51   3.196078
4825     2647871   814.0   248   3.282258
4826     2648122   306.0    85   3.600000
4827     2648650    83.0    27   3.074074
4828     2648861   181.0    53   3.415094

[4829 rows x 4 columns]

In [194]:
all_movies_average_rating = information.all_average_ratings(df=data_rating, type='movie_id')
print(all_movies_average_rating)

     movie_id  rating       avg_rating
                  sum count
0           1  2051.0   547   3.749543
1           2   516.0   145   3.558621
2           3  7326.0  2012   3.641153
3           4   389.0   142   2.739437
4           5  4468.0  1140   3.919298
...       ...     ...   ...        ...
4494     4495   162.0    60   2.700000
4495     4496  2676.0   713   3.753156
4496     4497   220.0    84   2.619048
4497     4498    88.0    36   2.444444
4498     4499   230.0    83   2.771084

[4499 rows x 4 columns]

In [195]:
information.get_avg_rating_less_than(df=all_customers_average_ratings , max_rating=max_rating)

     customer_id  rating       avg_rating
                     sum count
2            967    87.0    24   3.625000
3           1333  2007.0   750   2.676000
4           2442   404.0   118   3.423729
5           3321  2718.0  1062   2.559322
7           3718   529.0   175   3.022857
...          ...     ...   ...        ...
4824     2646591   163.0    51   3.196078
4825     2647871   814.0   248   3.282258
4826     2648122   306.0    85   3.600000
4827     2648650    83.0    27   3.074074
4828     2648861   181.0    53   3.415094

[4039 rows x 4 columns]

In [196]:
information.get_avg_rating_higher_than(df=all_customers_average_ratings, min_rating=min_rating)

     customer_id  rating       avg_rating
                     sum count
0            685   124.0    30   4.133333
1            915    30.0     7   4.285714
6           3417   165.0    41   4.024390
12          5225   108.0    26   4.153846
18          8117  1062.0   260   4.084615
...          ...     ...   ...        ...
4800     2632269   103.0    25   4.120000
4804     2634414    33.0     8   4.125000
4806     2635437   499.0   115   4.339130
4807     2635895   314.0    75   4.186667
4814     2640085   158.0    34   4.647059

[721 rows x 4 columns]

In [197]:
information.get_avg_rating_less_than(df=all_movies_average_rating, max_rating=max_rating)

     movie_id  rating       avg_rating
                  sum count
0           1  2051.0   547   3.749543
1           2   516.0   145   3.558621
2           3  7326.0  2012   3.641153
3           4   389.0   142   2.739437
4           5  4468.0  1140   3.919298
...       ...     ...   ...        ...
4494     4495   162.0    60   2.700000
4495     4496  2676.0   713   3.753156
4496     4497   220.0    84   2.619048
4497     4498    88.0    36   2.444444
4498     4499   230.0    83   2.771084

[4457 rows x 4 columns]

In [198]:
information.get_avg_rating_higher_than(df=all_movies_average_rating, min_rating=min_rating)

     movie_id   rating       avg_rating
                   sum count
12         13     38.0     8   4.750000
222       223   3594.0   875   4.107429
240       241   5359.0  1317   4.069096
570       571  12222.0  3021   4.045680
752       753     33.0     8   4.125000
871       872   5000.0  1206   4.145937
885       886   7719.0  1918   4.024505
1019     1020   3501.0   842   4.157957
1255     1256    925.0   227   4.074890
1475     1476   1936.0   447   4.331096
1624     1625   5149.0  1258   4.093005
1914     1915    456.0   113   4.035398
2101     2102   1714.0   384   4.463542
2141     2142     49.0    11   4.454545
2161     2162   1919.0   471   4.074310
2171     2172   3516.0   811   4.335388
2429     2430   5708.0  1399   4.080057
2451     2452  11777.0  2736   4.304459
2462     2463    206.0    51   4.039216
2607     2608    474.0   116   4.086207
2699     2700    763.0   185   4.124324
2742     2743   6786.0  1695   4.003540
2781     2782   9395.0  2320   4.049569
2861     2862  11235.0  2638   4.258908
3045     3046   2610.0   610   4.278689
3289     3290   8399.0  1937   4.336087
3443     3444   1695.0   392   4.323980
3445     3446   4694.0  1161   4.043066
3455     3456    872.0   191   4.565445
3604     3605   7545.0  1850   4.078378
3863     3864   5176.0  1252   4.134185
3927     3928   1024.0   255   4.015686
3961     3962  10408.0  2465   4.222312
4114     4115    973.0   239   4.071130
4128     4129    101.0    25   4.040000
4206     4207   1204.0   296   4.067568
4305     4306  10877.0  2642   4.116957
4352     4353   2027.0   491   4.128310

In [199]:
count_movies_rated_by_customer = information.all_get_rated_count(df=data_rating, type="customer_id")
count_movies_rated_by_customer

      customer_id  movie_id
0             685        30
1             915         7
2             967        24
3            1333       750
4            2442       118
...           ...       ...
4824      2646591        51
4825      2647871       248
4826      2648122        85
4827      2648650        27
4828      2648861        53

[4829 rows x 2 columns]

find customers who rated a random movie

In [200]:
movie_to_find = data_movies['movie_title'][randrange(1000)]
information.get_customers_who_rated_movie_title(movie_title=movie_to_find)

        movie_id  customer_id  rating  movie_year movie_title
168286       898      1331154     3.0      2000.0    The Body
168287       898      1977959     2.0      2000.0    The Body
168288       898        21983     5.0      2000.0    The Body
168289       898         1333     2.0      2000.0    The Body
168290       898       303948     4.0      2000.0    The Body
...          ...          ...     ...         ...         ...
168376       898      1663888     2.0      2000.0    The Body
168377       898       453043     2.0      2000.0    The Body
168378       898      1639792     1.0      2000.0    The Body
168379       898      1033930     3.0      2000.0    The Body
168380       898      1707198     3.0      2000.0    The Body

[95 rows x 5 columns]

In [201]:
information.get_avg_rating_for_movie_title(movie_title=movie_to_find)

    movie_id rating       avg_rating movie_id
                sum count            movie_id movie_year movie_title
897      898  254.0    95   2.673684      898     2000.0    The Body

finding customers who rated a specific movie

In [202]:

information.get_customers_who_rated_movie_title(movie_title="Harold and Kumar Go to White Castle")

,movie_id,customer_id,rating,movie_year,movie_title
51402,290,1436762,4.0,2004.0,Harold and Kumar Go to White Castle
51403,290,1745265,5.0,2004.0,Harold and Kumar Go to White Castle
51404,290,1176140,2.0,2004.0,Harold and Kumar Go to White Castle
51405,290,439011,5.0,2004.0,Harold and Kumar Go to White Castle
51406,290,2632461,4.0,2004.0,Harold and Kumar Go to White Castle
...,...,...,...,...,...
52628,290,999312,5.0,2004.0,Harold and Kumar Go to White Castle
52629,290,520675,4.0,2004.0,Harold and Kumar Go to White Castle
52630,290,1550207,2.0,2004.0,Harold and Kumar Go to White Castle
52631,290,1424777,3.0,2004.0,Harold and Kumar Go to White Castle
52632,290,2317644,1.0,2004.0,Harold and Kumar Go to White Castle

In [203]:
information.get_avg_rating_for_movie_title(movie_title="Harold and Kumar Go to White Castle")

    movie_id  rating       avg_rating movie_id             \
                 sum count            movie_id movie_year
289      290  4351.0  1231   3.534525      290     2004.0


                             movie_title
289  Harold and Kumar Go to White Castle

In [204]:
def generate_random_user_ids(from_n, to_n):
    ids = np.unique(data_rating['customer_id'])[from_n:to_n]
    print("random user id used while in development\n")
    return ids
generate_random_user_ids(1000, 1500)

random user id used while in development

array([532439, 532649, 532710, 533381, 534018, 534046, 534152, 534777,
       535396, 536526, 537150, 538373, 538741, 539019, 539354, 539743,
       539791, 540794, 540807, 541826, 542027, 542345, 543865, 544022,
       544496, 544571, 544832, 544833, 545026, 545639, 546933, 547732,
       548064, 550170, 550777, 551208, 551817, 552356, 552997, 553632,
       553668, 553931, 555509, 555955, 556045, 556249, 556534, 556633,
       557801, 558634, 559021, 560851, 561184, 561923, 563237, 563607,
       563962, 564660, 565041, 565401, 565510, 565962, 568930, 569099,
       569386, 570522, 571700, 571702, 572124, 573330, 573434, 573537,
       573975, 573995, 574778, 574843, 575714, 575830, 575867, 576584,
       576763, 576990, 577547, 578237, 578632, 578699, 580784, 581199,
       582829, 582996, 584542, 584750, 584893, 586421, 586652, 586741,
       587259, 587685, 588344, 589596, 589626, 589682, 589967, 590113,
       590466, 591072, 591866, 592003, 592122, 592281, 592455, 592671,
       592684, 592914, 593167, 593168, 593225, 593454, 594196, 594683,
       595674, 595778, 595870, 596255, 596533, 596728, 597410, 597463,
       597776, 598610, 599164, 599584, 599635, 600362, 600994, 601778,
       601868, 603277, 603543, 604568, 604949, 606144, 606570, 607531,
       607980, 608018, 608234, 608271, 608537, 608554, 608576, 609556,
       610188, 611620, 611870, 611883, 613805, 613979, 616720, 618272,
       618288, 618726, 619721, 620063, 620147, 620771, 620938, 621279,
       621342, 621908, 622282, 622482, 622995, 623036, 623943, 624035,
       624145, 624388, 626050, 627040, 627875, 630039, 630174, 630196,
       630887, 630920, 631857, 631945, 632175, 632346, 634604, 634883,
       635056, 635184, 635285, 635607, 636262, 636475, 638020, 638824,
       639533, 640588, 640743, 641785, 642036, 643182, 643813, 645800,
       645838, 646098, 646981, 647037, 648643, 648760, 649804, 649855,
       649963, 650326, 650828, 650986, 651230, 651685, 651807, 652324,
       652369, 653682, 656399, 656811, 657582, 657699, 659037, 659505,
       659526, 659639, 660454, 660499, 660822, 660962, 661344, 661662,
       661894, 662870, 663309, 663355, 664105, 664185, 664705, 665242,
       665941, 666860, 667422, 667730, 668126, 668703, 668811, 672980,
       672989, 673040, 674255, 675111, 676062, 677213, 678815, 679042,
       679555, 679849, 680162, 680740, 681208, 682051, 682402, 682963,
       683123, 683124, 683751, 684741, 684850, 684876, 685113, 685253,
       685565, 685717, 686629, 688357, 688463, 688747, 689166, 689205,
       689229, 690212, 690746, 690939, 691108, 691212, 691460, 693162,
       693542, 694149, 695915, 696969, 697867, 697945, 698713, 699412,
       699522, 699878, 700747, 700890, 701514, 701615, 701692, 701730,
       701960, 702686, 704063, 704249, 704538, 704856, 705026, 705787,
       706832, 707012, 707854, 709342, 710202, 711144, 711644, 712209,
       712609, 712610, 712664, 713004, 713559, 714550, 714960, 715062,
       715897, 716874, 718211, 718564, 719342, 719467, 719598, 719833,
       720145, 721369, 721992, 722006, 722591, 723983, 724270, 727242,
       728413, 728801, 729321, 729471, 729846, 731988, 732363, 732556,
       732936, 734381, 735094, 736671, 738379, 738784, 738804, 740495,
       740671, 740905, 741245, 742738, 742766, 743633, 743694, 744011,
       744546, 744706, 745661, 745688, 745706, 746154, 746965, 747695,
       747986, 748922, 749164, 749353, 751824, 752642, 752702, 753107,
       753127, 754135, 755056, 755078, 755319, 755939, 755976, 756162,
       756709, 757837, 758850, 758937, 759509, 759737, 760104, 760605,
       761585, 762066, 762111, 762240, 762249, 762640, 762808, 763240,
       764896, 765573, 765860, 766180, 766450, 766489, 766629, 766872,
       767052, 767139, 767232, 767518, 768442, 769643, 769670, 769702,
       769824, 770097, 770921, 771637, 772538, 772989, 773165, 773532,
       775436, 775861, 775895, 776316, 776473, 777147, 778256, 778849,
       779140, 779332, 779476, 779616, 780253, 780282, 780320, 780687,
       781347, 781779, 781860, 782308, 782566, 782640, 782949, 783154,
       783779, 783838, 785573, 785768, 786312, 786695, 787391, 787827,
       788185, 788321, 788698, 788774, 788980, 789014, 789530, 789965,
       790920, 791029, 792155, 792580, 792758, 793228, 793564, 793852,
       794052, 794717, 794999, 795638, 797889, 797951, 798281, 798296,
       799207, 799442, 799810, 799974])

### Details about a specific customer

In [205]:
# ids I like -> 28812, 56514, 56520, 1488844
customer_id_use = 534046 #84100

In [206]:
#all_custumers_id_rows(customer_id=customer_id_use)
## same as line above but including movie_year and movie_title

#all_customers_id_plus_movie_title_rows(customer_id=customer_id_use)
information.all_id_rows(df=data_rating_plus_movie_title, type="customer_id", item_id=customer_id_use)

,movie_id,customer_id,rating,movie_year,movie_title
3131,5,534046,5.0,2004.0,The Rise and Fall of ECW
8700,30,534046,5.0,2003.0,Something's Gotta Give
12247,52,534046,5.0,2002.0,The Weather Underground
31214,187,534046,3.0,2002.0,Death to Smoochy
34441,194,534046,4.0,1996.0,Arliss: The Best of Arliss
51683,290,534046,4.0,2004.0,Harold and Kumar Go to White Castle
111420,571,534046,4.0,1999.0,American Beauty
187786,1029,534046,1.0,1995.0,Tromeo and Juliet
210575,1148,534046,4.0,1981.0,For Your Eyes Only
289148,1642,534046,5.0,1995.0,Casino: 10th Anniversary Edition
299773,1700,534046,3.0,1996.0,Bottle Rocket
304076,1719,534046,5.0,2004.0,The Life Aquatic with Steve Zissou
308255,1744,534046,3.0,1984.0,Beverly Hills Cop
318144,1798,534046,4.0,1987.0,Lethal Weapon
328339,1843,534046,4.0,1994.0,Beverly Hills Cop III
391845,2178,534046,4.0,1998.0,Lock
445103,2464,534046,4.0,1999.0,Trekkies
494701,2782,534046,4.0,1995.0,Braveheart
503004,2840,534046,1.0,1977.0,Fantasm Comes Again
506551,2862,534046,5.0,1991.0,The Silence of the Lambs
522995,2939,534046,5.0,2004.0,Michael Moore Hates America
585867,3290,534046,5.0,1974.0,The Godfather
645503,3610,534046,4.0,1992.0,Lethal Weapon 3
661228,3684,534046,4.0,1964.0,Goldfinger
699273,3893,534046,4.0,1996.0,The People vs. Larry Flynt
705228,3917,534046,4.0,2004.0,Garden State
734591,4080,534046,5.0,2003.0,A Mighty Wind
785187,4356,534046,5.0,2002.0,Road to Perdition

In [207]:
#get_users_avg_rating(customer_id=customer_id_use)
information.get_item_avg_rating(df=all_customers_average_ratings, type='customer_id', item_id=customer_id_use)

     customer_id rating       avg_rating
                    sum count
1005      534046  113.0    28   4.035714

In [208]:
#display_movies_customer_rated_higher_than(customer_id=customer_id_use, min_rating=4)
information.display_movies_customer_rated_higher_than(df=data_rating_plus_movie_title, customer_id=customer_id_use, min_rating=min_rating)

                                  movie_title  rating
movie_id
5                    The Rise and Fall of ECW     5.0
30                     Something's Gotta Give     5.0
52                    The Weather Underground     5.0
194                Arliss: The Best of Arliss     4.0
290       Harold and Kumar Go to White Castle     4.0
571                           American Beauty     4.0
1148                       For Your Eyes Only     4.0
1642         Casino: 10th Anniversary Edition     5.0
1719       The Life Aquatic with Steve Zissou     5.0
1798                            Lethal Weapon     4.0
1843                    Beverly Hills Cop III     4.0
2178                                     Lock     4.0
2464                                 Trekkies     4.0
2782                               Braveheart     4.0
2862                 The Silence of the Lambs     5.0
2939              Michael Moore Hates America     5.0
3290                            The Godfather     5.0
3610                          Lethal Weapon 3     4.0
3684                               Goldfinger     4.0
3893               The People vs. Larry Flynt     4.0
3917                             Garden State     4.0
4080                            A Mighty Wind     5.0
4356                        Road to Perdition     5.0
average rating 1005    4.035714
Name: avg_rating, dtype: float64

In [209]:
information.display_movies_customer_rated_lower_than(df= data_rating_plus_movie_title,customer_id=customer_id_use, max_rating=max_rating)

                  movie_title  rating
movie_id
187          Death to Smoochy     3.0
1029        Tromeo and Juliet     1.0
1700            Bottle Rocket     3.0
1744        Beverly Hills Cop     3.0
2840      Fantasm Comes Again     1.0
average rating 1005    4.035714
Name: avg_rating, dtype: float64

In [210]:
information.get_users_loved_hated_movies(df=data_rating_plus_movie_title, customer_id=customer_id_use, minmax_rating=4)

User 534046 loved these movies
The Rise and Fall of ECW
Something's Gotta Give
The Weather Underground
Arliss: The Best of Arliss
Harold and Kumar Go to White Castle
American Beauty
For Your Eyes Only
Casino: 10th Anniversary Edition
The Life Aquatic with Steve Zissou
Lethal Weapon
Beverly Hills Cop III
Lock
Trekkies
Braveheart
The Silence of the Lambs
Michael Moore Hates America
The Godfather
Lethal Weapon 3
Goldfinger
The People vs. Larry Flynt
Garden State
A Mighty Wind
Road to Perdition

and disliked these movies
Death to Smoochy
Tromeo and Juliet
Bottle Rocket
Beverly Hills Cop
Fantasm Comes Again

In [211]:
all_customers_avg_rating = all_customers_average_ratings["avg_rating"].mean()

usr = information.all_average_ratings(df=data_rating, type='customer_id')
usr = usr[usr["customer_id"] == 596533]

change = ((usr["avg_rating"] - all_customers_avg_rating) / all_customers_avg_rating)*100


print("average rating for user 596533:", float(usr["avg_rating"]))
print("average rating for all users:", all_customers_avg_rating)
print("difference between them", round(float(change), 2), "%")

average rating for user 596533: 4.571428571428571
average rating for all users: 3.5321404327111
difference between them 29.42 %

## Recommendations with collaborative filtering

#### functions

In [249]:
from surprise import dataset, KNNBaseline, accuracy
from surprise.model_selection import train_test_split, LeaveOneOut

def get_drop_list(type="movie_id"):
    #>IF MOVIE:  movie_id, movie rating count, movie rating mean
    #>IF CUSTOMER: customer_id, custumer rating count, customer rating mean
    df_count_mean_summary = data_rating.groupby(type)['rating'].agg(['count', 'mean'])
    df_count_mean_summary.index = df_count_mean_summary.index.map(int)
    #>IF MOVIE: returns 1799.0 as a benchmark number
    #IF CUSTOMER: returns 52.0 as a benchmark number
    benchmark = round(df_count_mean_summary['count'].quantile(0.7),0)
    # drop all rows below benchmark
    df_drop_list = df_count_mean_summary[df_count_mean_summary['count'] < benchmark]
    # return all indexes to drop
    return df_drop_list

def get_customer_recommendations(customer_id, predictor):
    #> returns movie_id, movie_year, movie_title
    chosen_customer_pred = data_movies.copy()
    # fails if movie_id is the index so we have to reset the index back to normal (0-N)
    chosen_customer_pred = chosen_customer_pred.reset_index()
    # makes sure that we only pick movies that are not in the movie dropped list
    chosen_customer_pred = chosen_customer_pred[~chosen_customer_pred['movie_id'].isin(df_movie_drop_list)]
    # make prediction for customer with id = <customer_id> and put it into 'estimated_score'
    chosen_customer_pred['estimated_score'] = chosen_customer_pred['movie_id'].apply(lambda x: predictor.predict(customer_id, x).est)
    # sort by 'estimated score'
    chosen_customer_pred = chosen_customer_pred.sort_values('estimated_score', ascending=False).set_index('movie_id')
    return chosen_customer_pred

# print out movies/tv show user has previously rated
def display_rated_content(customer_id=customer_id_use, number_to_show=20):
    print("Movies/TV Shows rated by customer", customer_id)
    #df = all_customers_id_plus_movie_title_rows(customer_id=customer_id)
    df = information.all_id_rows(df=data_rating_plus_movie_title, type='customer_id', item_id=customer_id)
    df = df[['movie_title', 'rating']].sort_values('rating', ascending=False)
    print(df[0:number_to_show].set_index('movie_title'))

def display_customers_recommendations(customer_id=customer_id_use, df=[], number_to_show=20):
    print("Movies/TV Shows recommended to customer")
    tmp_df = df[['movie_title', 'estimated_score']][0:number_to_show]
    tmp_df = tmp_df.set_index('movie_title')
    print(tmp_df)

def display_recommendation(customer_id, number_to_show, predictor):
    chosen_customer_pred = get_customer_recommendations(customer_id=customer_id, predictor=predictor)
    display_customers_recommendations(customer_id=customer_id, df=chosen_customer_pred, number_to_show=number_to_show)

def print_evaluation_accuracy(predictions):
    print("\nEvaluating accuracy of model...")
    print("RMSE: ", accuracy.rmse(predictions, verbose=False))
    print("MSE: ", accuracy.mse(predictions, verbose=False))
    print("MAE: ", accuracy.mae(predictions, verbose=False))
    # FCP = Fraction of Concordant Pairs
    print("FCP: ", accuracy.mae(predictions, verbose=False))

#### create recommenders

In [213]:
## creating a list of the movies that we don't wanna include
df_movie_drop_list = get_drop_list(type="movie_id")
#df_customer_drop_list = get_summary(type="customer_id")

In [250]:
def test_against_our_custom_function():
    _, data_rating, _, _ = NetflixLoadData.get_data_files(use_small_dataset=True)
    dataset = Dataset.load_from_df(data_rating[['customer_id', 'movie_id', 'rating']], reader)
    fullTrainset = dataset.build_full_trainset()

    trainSet, testSet = train_test_split(dataset, test_size=.25, random_state=1)

    algo = SVD(random_state=10)
    algo.fit(trainSet)

    predictions = algo.test(testSet)
    print("\nEvaluating accuracy of model...")
    print("RMSE: ", accuracy.rmse(predictions, verbose=False))
    print("MSE: ", accuracy.mse(predictions, verbose=False))
    print("MAE: ", accuracy.mae(predictions, verbose=False))
    # FCP = Fraction of Concordant Pairs
    print("FCP: ", accuracy.mae(predictions, verbose=False))


class convert_to_raw_ratings(dataset.DatasetAutoFolds):
    def __init__(self, df, reader):
        self.raw_ratings = [(uid, iid, r, None) for (uid, iid, r) in zip(df['customer_id'], df['movie_id'], df['rating'])]
        self.reader=reader

raw_ratings = convert_to_raw_ratings(data_rating, reader)
print("\nBuilding recommendation model...")
trainSet, testSet = train_test_split(raw_ratings, test_size=.25, random_state=1)

algo = SVD(random_state=10)
algo.fit(trainSet)
algo_predictions = algo.test(testSet)

Building recommendation model...

In [216]:
# save_to_pickle("algo_svd", algo)
# #save_to_pickle("algo_raw_rating", raw_ratings)
# save_to_pickle("algo_trainSet", trainSet)
# save_to_pickle("algo_testSet", testSet)

In [156]:
#cross_validate(algo, raw_ratings, measures=['MSE', 'RMSE', 'MAE'], cv=5, verbose=True)

Evaluating MSE, RMSE, MAE of algorithm SVD on 5 split(s).

                  Fold 1  Fold 2  Fold 3  Fold 4  Fold 5  Mean    Std     
MSE (testset)     0.8141  0.8190  0.8183  0.8185  0.8252  0.8190  0.0036  
RMSE (testset)    0.9023  0.9050  0.9046  0.9047  0.9084  0.9050  0.0020  
MAE (testset)     0.6996  0.7018  0.7021  0.7012  0.7034  0.7016  0.0013  
Fit time          43.46   42.70   43.19   43.22   43.34   43.18   0.26    
Test time         1.25    1.80    1.89    2.15    1.86    1.79    0.30    
{'test_mse': array([0.8140786 , 0.81902422, 0.81832184, 0.81848648, 0.8252199 ]),
 'test_rmse': array([0.90226305, 0.90499957, 0.90461143, 0.90470243, 0.90841615]),
 'test_mae': array([0.69956712, 0.70178235, 0.70205342, 0.70116675, 0.70340926]),
 'fit_time': (43.46491026878357,
  42.70126295089722,
  43.18883514404297,
  43.22296500205994,
  43.34227705001831),
 'test_time': (1.2471659183502197,
  1.798271894454956,
  1.8913426399230957,
  2.151172161102295,
  1.8620872497558594)}

In [157]:
svd = SVD(random_state=10)
data_new = Dataset.load_from_df(data_rating[['customer_id', 'movie_id', 'rating']], reader)
trainset = data_new.build_full_trainset()
svd.fit(trainset)
svd_predictions = svd.test(testSet)

In [158]:
#cross_validate(svd, data_new, measures=['MSE', 'RMSE', 'MAE'], cv=5, verbose=True)

Evaluating MSE, RMSE, MAE of algorithm SVD on 5 split(s).

                  Fold 1  Fold 2  Fold 3  Fold 4  Fold 5  Mean    Std     
MSE (testset)     0.8129  0.8173  0.8158  0.8191  0.8206  0.8171  0.0027  
RMSE (testset)    0.9016  0.9041  0.9032  0.9050  0.9059  0.9040  0.0015  
MAE (testset)     0.6995  0.7011  0.7002  0.7017  0.7015  0.7008  0.0008  
Fit time          45.70   45.03   45.65   42.76   42.72   44.37   1.35    
Test time         1.28    1.23    1.82    1.88    1.79    1.60    0.28    
{'test_mse': array([0.8128914 , 0.81733656, 0.81576003, 0.81906422, 0.82062215]),
 'test_rmse': array([0.9016049 , 0.90406668, 0.90319435, 0.90502167, 0.90588197]),
 'test_mae': array([0.69946949, 0.70105072, 0.70019792, 0.70172599, 0.701503  ]),
 'fit_time': (45.69601392745972,
  45.02508091926575,
  45.64592099189758,
  42.75763988494873,
  42.72244310379028),
 'test_time': (1.277541160583496,
  1.228330135345459,
  1.8190929889678955,
  1.877488136291504,
  1.7900800704956055)}

In [159]:
#surprise.get_neighbours(1, 10)

In [160]:
##TODO: look into knows_user 
#       -> which tells if the user is part of the trainset,
#           -> equals true if user has at least one rating

### display recommendations

In [161]:
number_to_show = 10

#### customer = 79724

In [162]:
display_rated_content(customer_id=79724, number_to_show=number_to_show)

Movies/TV Shows rated by customer 79724
Empty DataFrame
Columns: [rating]
Index: []

In [163]:
display_recommendation(customer_id=79724, number_to_show=number_to_show, predictor=svd)

Movies/TV Shows recommended to customer
                                                    estimated_score
movie_title
Lost: Season 1                                             4.521422
The Simpsons: Season 6                                     4.369304
The Godfather                                              4.355742
Six Feet Under: Season 4                                   4.350956
The Silence of the Lambs                                   4.326521
Lord of the Rings: The Fellowship of the Ring              4.285705
Law & Order: Special Victims Unit: The Second Year         4.252380
The Simpsons: Season 3                                     4.203618
The West Wing: Season 3                                    4.195865
Nip/Tuck: Season 2                                         4.181070

In [164]:
display_recommendation(customer_id=79724, number_to_show=number_to_show, predictor=algo)

Movies/TV Shows recommended to customer
                                               estimated_score
movie_title
Lost: Season 1                                        4.542424
The Simpsons: Season 6                                4.391883
The Godfather                                         4.340253
Six Feet Under: Season 4                              4.320674
Lord of the Rings: The Fellowship of the Ring         4.278653
Family Guy: Freakin' Sweet Collection                 4.260342
The Simpsons: Treehouse of Horror                     4.247825
The Simpsons: Season 3                                4.246159
The Silence of the Lambs                              4.240932
Nip/Tuck: Season 2                                    4.239350

#### customer = customer_id_use

In [165]:
display_rated_content(customer_id=customer_id_use, number_to_show=number_to_show)

Movies/TV Shows rated by customer 534046
                                    rating
movie_title
The Rise and Fall of ECW               5.0
Casino: 10th Anniversary Edition       5.0
A Mighty Wind                          5.0
The Godfather                          5.0
Michael Moore Hates America            5.0
The Silence of the Lambs               5.0
Something's Gotta Give                 5.0
The Life Aquatic with Steve Zissou     5.0
Road to Perdition                      5.0
The Weather Underground                5.0

In [166]:
display_recommendation(customer_id=customer_id_use, number_to_show=number_to_show, predictor=svd)

Movies/TV Shows recommended to customer
                                   estimated_score
movie_title
The Silence of the Lambs                  4.975386
Six Feet Under: Season 4                  4.920907
Curb Your Enthusiasm: Season 3            4.874172
The Simpsons: Season 6                    4.871290
The Godfather                             4.827125
The Simpsons: Season 3                    4.770718
The Life of Birds                         4.757527
The Life of Mammals                       4.720321
The Simpsons: Treehouse of Horror         4.706994
The Simpsons: Season 1                    4.687082

In [167]:
display_recommendation(customer_id=customer_id_use, number_to_show=number_to_show, predictor=algo)
# recommends for example: Reservoir Dogs, which the user has already rated

Movies/TV Shows recommended to customer
                                                    estimated_score
movie_title
The Simpsons: Season 6                                     5.000000
Lord of the Rings: The Fellowship of the Ring              5.000000
The Simpsons: Season 3                                     5.000000
The Silence of the Lambs                                   5.000000
The Godfather                                              4.965630
The Twilight Zone: Vol. 3                                  4.920416
Lost: Season 1                                             4.917772
Law & Order: Special Victims Unit: The Second Year         4.902102
The Twilight Zone: Vol. 42                                 4.847656
Aliens: Collector's Edition                                4.846262

### print accuracy

In [168]:
print_evaluation_accuracy(svd_predictions)

Evaluating accuracy of model...
RMSE:  0.670030900148855
MAE:  0.5221479828726231

In [252]:
print_evaluation_accuracy(algo_predictions)

Evaluating accuracy of model...
RMSE:  0.9048402795139483
MSE:  0.8187359314308801
MAE:  0.7014346782230714
FCP:  0.7014346782230714

In [251]:
test_against_our_custom_function() #for algo predictions

Evaluating accuracy of model...
RMSE:  0.9048402795139483
MSE:  0.8187359314308801
MAE:  0.7014346782230714
FCP:  0.7014346782230714

results are the same so we will not use the custom function since it adds no value

## other

In [225]:

dataset = Dataset.load_from_df(data_rating[['customer_id', 'movie_id', 'rating']], reader)
trainset = dataset.build_full_trainset()

In [226]:
trainset

In [227]:
tmp_data_movies = data_movies[['movie_id', 'movie_title']]
tmp_data_movies = tmp_data_movies.set_index('movie_id').T
tmp_data_movies = tmp_data_movies.to_dict('list')
tmp_data_movies = {k: str(v[0]) for k,v in tmp_data_movies.items()}

In [228]:
similarity_matrix = KNNBasic(sim_options={'name': 'cosine', 'user_based': False})
similarity_matrix.fit(trainset).compute_similarities()

Computing the cosine similarity matrix...
Done computing similarity matrix.
Computing the cosine similarity matrix...
Done computing similarity matrix.

array([[1.        , 0.97640822, 0.95372922, ..., 0.93954011, 0.81705717,
        0.9767252 ],
       [0.97640822, 1.        , 0.97627206, ..., 0.94840141, 0.9486833 ,
        0.98713529],
       [0.95372922, 0.97627206, 1.        , ..., 0.94160414, 0.92205571,
        0.93787593],
       ...,
       [0.93954011, 0.94840141, 0.94160414, ..., 1.        , 0.95197868,
        0.93313613],
       [0.81705717, 0.9486833 , 0.92205571, ..., 0.95197868, 1.        ,
        0.67445327],
       [0.9767252 , 0.98713529, 0.93787593, ..., 0.93313613, 0.67445327,
        1.        ]])

In [229]:
# generate_random_user_ids(1000, 1500)

In [230]:
# for i in generate_random_user_ids(1000, 1500):
#     if (len(all_custumers_id_rows(i)) > 3):
#         print(i)

In [231]:
test_subject = 596533#16272
k = 10

In [232]:
test_subject_iid = trainset.to_inner_uid(test_subject)

test_subject_ratings = trainset.ur[test_subject_iid]
k_neighbours = heapq.nlargest(k, test_subject_ratings, key=lambda t: t[1])

In [233]:
candidates = defaultdict(float)

for itemID, rating in k_neighbours:
    try:
        similarities = similarity_matrix[itemID]
        for innerID, score in enumerate(similarities):
            candidates[innerID] += score * (rating / 5.0)
    except:
        continue

In [234]:
def getMovieName(movieID):
  if int(movieID) in tmp_data_movies:
    return tmp_data_movies[int(movieID)]
  else:
      return ""

In [235]:
watched = {}
for itemID, rating in trainset.ur[test_subject_iid]:
    watched[itemID] = 1

recommendations = []
position = 0
for itemID, rating_sum in sorted(candidates.items(), key=itemgetter(1), reverse=True):
    if not itemID in watched:
        recommendations.append(getMovieName(trainset.to_raw_iid(itemID)))
        position += 1
        # only want top n which in our case in 10
        if(position > 10): break

for rec in recommendations:
    print("Movie: ", rec)

In [236]:
print("user", test_subject, 'previous recommendations')
display_recommendation(customer_id=test_subject, number_to_show=10, predictor=svd)

user 596533 previous recommendations
Movies/TV Shows recommended to customer
                                          estimated_score
movie_title
Lost: Season 1                                   5.000000
Fight Club: Bonus Material                       5.000000
The Silence of the Lambs                         4.982024
The Simpsons: Season 6                           4.964567
The Godfather                                    4.934454
The Twilight Zone: Vol. 12                       4.925539
Nip/Tuck: Season 2                               4.912042
Six Feet Under: Season 4                         4.910300
House of Cards Trilogy I: House of Cards         4.907765
The West Wing: Season 3                          4.890468

In [237]:
#TODO:
#for the new user problem
## find highest rated movie / tv shows that have been watched the most -> how likely is new user to click on it ?

In [238]:
#cross_validate(similarity_matrix, dataset, measures=['MSE', 'RMSE', 'MAE'], cv=5, verbose=True)

                  Fold 1  Fold 2  Fold 3  Fold 4  Fold 5  Mean    Std     
MSE (testset)     0.9602  0.9557  0.9631  0.9550  0.9619  0.9592  0.0033  
RMSE (testset)    0.9799  0.9776  0.9814  0.9772  0.9807  0.9794  0.0017  
MAE (testset)     0.7597  0.7583  0.7616  0.7580  0.7612  0.7598  0.0015  
Fit time          28.84   29.80   30.16   29.78   30.27   29.77   0.50    
Test time         71.32   68.97   72.02   69.09   70.66   70.41   1.21    
{'test_mse': array([0.96018258, 0.95572922, 0.9631195 , 0.95499539, 0.96186938]),
 'test_rmse': array([0.97988906, 0.97761404, 0.98138652, 0.97723866, 0.9807494 ]),
 'test_mae': array([0.7597183 , 0.75826306, 0.76159982, 0.75801584, 0.76119729]),
 'fit_time': (28.836588859558105,
  29.796326160430908,
  30.156323671340942,
  29.780963897705078,
  30.26855206489563),
 'test_time': (71.32496619224548,
  68.9672601222992,
  72.02299118041992,
  69.09478878974915,
  70.65942907333374)}

Evaluating accuracy of model...
RMSE:  0.9048402795139483
MSE:  0.8187359314308801
MAE:  0.7014346782230714
FCP:  0.7014346782230714